<%= form_with(model: domain_rol, local: true) do |form| %>
  <% if domain_rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(domain_rol.errors.count, "error") %> prohibited this domain_rol from being saved:</h2>

      <ul>
      <% domain_rol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_member %>
    <%= form.text_field :type_member %>
  </div>

  <div class="field">
    <%= form.label :type_rol %>
    <%= form.text_field :type_rol %>
  </div>

  <div class="field">
    <%= form.label :persona_id %>
    <%= form.number_field :persona_id %>
  </div>

  <div class="field">
    <%= form.label :domain_id %>
    <%= form.select :domain_id , options_for_select(Domain.where(domainable_id: @domain_rol.domain.domainable_id).collect{ |c| [c.type_modality+'-'+c.price.to_s ,c.id]}), {include_blank: "Seleccione"} ,class:"custom-select mr-sm-2"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
