<script>
 function getPersonDemandado(params) {
      var list = '' 
      <%Persona.order(:name).each do |persona| %>
          var pesonaNaturalId = '<%=persona.id %>'
          var validateSelected = validatePersonaNatural(pesonaNaturalId,"demandado") ? "selected" : ""
          list += '<option '+validateSelected+' value= <%= persona.id%>> <%= persona.rut+" / "+persona.name+" "+persona.last_name1%> </option>'
      <%end%>
      <%LegalPersona.order(:name).each do |empresa| %>
          var pesonaLegalId = '<%=empresa.id %>'
          var validateSelected = validatePersonaLegal(pesonaLegalId,"demandado") ? "selected" : ""
          list += '<option '+validateSelected+' value= <%= -empresa.id%>> <%= empresa.rut+" / "+empresa.name%> </option>'
      <%end%>
      $('#judgement_demandadoList').html(list);       
    }

    function getPersonDemandante(params) {
      var list = ''
      <%Persona.order(:name).each do |persona| %>
          var pesonaNaturalId = '<%=persona.id %>'
          var validateSelected = validatePersonaNatural(pesonaNaturalId,"demandante") ? "selected" : ""
          list += '<option '+validateSelected+' value= <%= persona.id%>> <%= persona.rut+" / "+persona.name+" "+persona.last_name1%> </option>'
      <%end%>
      <%LegalPersona.order(:name).each do |empresa| %>
          var pesonaLegalId = '<%=empresa.id %>'
          var validateSelected = validatePersonaLegal(pesonaLegalId,"demandante") ? "selected" : ""
          list += '<option '+validateSelected+' value= <%= -empresa.id%>> <%= empresa.rut+" / "+empresa.name%> </option>'
      <%end%>
      $('#judgement_demandanteList').html(list);       
    }

    function validatePersonaLegal(pesonaLegalId,type){
      <% @judgementPersonas = JudgementPersonas.where(judgement_id:params[:id]) %>
      var count = <%=@judgementPersonas != "" ? @judgementPersonas.size : 0 %>
      if(count > 0){
        <% @judgementPersonas.each do |judgementPersona| %>
        var persona_id = '<%=judgementPersona.persona_id%>'
        var persona_type = '<%=judgementPersona.persona_type%>'
        var judgement_type = '<%=judgementPersona.judgement_type%>'
          if(persona_id==pesonaLegalId && judgement_type==type && persona_type=="Legal"){
            return true
          }
        <%end%>
      }
      return false
    }

    function validatePersonaNatural(pesonaNaturalId,type){
      <% @judgementPersonas = JudgementPersonas.where(judgement_id:params[:id]) %>
      var count = <%=@judgementPersonas != "" ? @judgementPersonas.size : 0 %>
      if(count > 0){
        <% @judgementPersonas.each do |judgementPersona| %>
        var persona_id = '<%=judgementPersona.persona_id%>'
        var persona_type = '<%=judgementPersona.persona_type%>'
        var judgement_type = '<%=judgementPersona.judgement_type%>'
          if(persona_id==pesonaNaturalId && judgement_type==type && persona_type=="Natural"){
            return true
          }
        <%end%>
      }
      return false
    }
  $(document).ready(function() {
    $('select#judgement_court_id').select2({
      theme: "bootstrap"
    });
     $('select#judgement_type_judgement').select2({
      theme: "bootstrap"
    });
    $('.select-multiple').select2({
      theme: "bootstrap",
      width: "100%"
    }); 
    getPersonDemandante();
    getPersonDemandado();
  });
  </script>
<div class="main container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 card card-body ">
        <div>
          <h2><%= @judgement.court.name %>, <%= @judgement.rol_trial %> </h2>
        </div>
        <%= form_with model: @judgement do |form| %>
        <%= form.hidden_field :auction_id, :value => @auction_id%>
        <div class="field">
          <%= form.label :court_id, "Seleccionar Tribunal" %>
          <%= form.select :court_id, options_for_select(Court.all.collect {|p| [p.name, p.id]}, @judgement.court_id), { include_blank: "Seleccione"} , class:"form-control border" %>
        </div>
        <div class="field">
          <%= form.label :lyrics, "Letra:" %>
          <%= form.text_field :lyrics, id: :lyrics ,autofocus: true  , class:"form-control border" %>
        </div>
        <div class="form-group">
          <%= form.label :number, "Numero:" %>
          <%= form.number_field :number, id: :number , class:"form-control border" %>
        </div>
        <div class="form-group">
          <%= form.label :year, "Año:" %>
          <%= form.number_field :year, id: :year , class:"form-control border" %>
        </div>
        <div class="field">
          <%= form.label :type_judgement, "Tipo de Juicio" %>
          <%= form.select :type_judgement, options_for_select(Judgement.type_judgements.keys.to_a, @judgement.type_judgement), { include_blank: "Seleccione"}  , class:"form-control border" %>
        </div>
        <div class="field">
          <%= form.label :demandante, "Demandante:" %>
          <%= form.select :demandanteList , options_for_select([[]]),{ include_blank: "Seleccione"}, class:"select-multiple custom-select", autofocus: true, multiple: "multiple", required: true%>
        </div>
          <div class="field">
          <%= form.label :demandado, "Demandado:" %>
          <%= form.select :demandadoList , options_for_select([[]]),{ include_blank: "Seleccione"}, class:"select-multiple custom-select", autofocus: true, multiple: "multiple", required: true%>
        </div>
        <br>
        <%= form.submit "Guardar",class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>