<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>










<script>
  function searchDataJudgement(value) {
    console.log(value)

    var form = $("#Form_judgement"); // grab the form wrapping the search bar.
  
    var url = "/judgements/search"; // live_search action.   
    var formData = form.serialize(); // grab the data in the form   

    console.log(url)
    console.log(formData)

    $.get(url, formData, function(json) { // perform an AJAX get
      //$("#live-search-results").html(json); // replace the "results" div with the results
      
      console.log(json)
     $('a#a_data_judgement').text(json[0].type_judgement);
    })
}
</script>
<br>
<%= link_to 'Nuevo Juicio', new_judgement_path ,class: "btn btn-primary"%>
</br>

<%= form_tag judgements_path, :id => "live-search-form" do %>

    <input id="big-search-box" name="q" type="text" onkeypress="myFunction(value)"/>     
  <% end %>

  <h2>Search/Filter Dropdown</h2>
  <p>Click on the button to open the dropdown menu, and use the input field to search for a specific dropdown link.</p>
  
  <div class="dropdown">
    <button onclick="displayButton()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <form id="Form_judgement">
      <input type="text" placeholder="Search.." id="myInput" onkeyup="searchDataJudgement()">
      </form>


      
      <a id="a_data_judgement" href="#nothing">new text</a>
      <% @judgements.each do |judgement| %>
        <a href="#nothing"><%= judgement.court.name %> <%= judgement.rol_trial %></a>
     <% end %>
    </div>
  </div>

  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function displayButton() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
  </script>


 




<div id="live-search-results">
  <table   class="table table-bordered table-hover">
    <thead  class="thead-dark">
      <tr>
        <th scope="col">Tipo de juicio</th>
        <th scope="col">Tribunal</th>
        <th scope="col">Rol</th>
        <th scope="col">Nombre Juicio</th>
        <th scope="col">Opciones</th>

      </tr>
    </thead>
    <tbody class="rounded-pill">
      <% @judgements.each do |judgement| %>

        <tr>
          <td><%= judgement.type_judgement %></td>
          <td><%= judgement.court.name %> </td>
          <td><%= judgement.rol_trial %> </td>
          <td><%= judgement.demandado %> / <%= judgement.demandante %></td>
          
          <td>
            <%= link_to 'Ver', judgement , class: "btn btn-info" %>
            <%= link_to 'Edit', edit_judgement_path(judgement) , class: "btn btn-warning" %>
            <%= link_to 'Borrar', judgement, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>