
<script>

 function getPersonDemandado(judgementId,divId) {
      var list = '' 
      <%Persona.order(:name).each do |persona| %>
          var pesonaNaturalId = '<%=persona.id %>'
          var validateSelected = validatePersonaNatural(pesonaNaturalId,"demandado",judgementId) ? true : false
          validateSelected ? list += '<option '+validateSelected+' value= <%= persona.id%>> <%= persona.rut+" / "+persona.name+" "+persona.last_name1%> </option>' : ''
      <%end%>
      <%LegalPersona.order(:name).each do |empresa| %>
          var pesonaLegalId = '<%=empresa.id %>'
          var validateSelected = validatePersonaLegal(pesonaLegalId,"demandado",judgementId) ? true : false
          validateSelected ? list += '<option '+validateSelected+' value= <%= -empresa.id%>> <%= empresa.rut+" / "+empresa.name%> </option>' : ''
      <%end%>
      var id = "#"+divId+""
      $(id).html(list);       

    }

    function getPersonDemandante(judgementId,divId) {
      var list = ''
      <%Persona.order(:name).each do |persona| %>
          var pesonaNaturalId = '<%=persona.id %>'
          var validateSelected = validatePersonaNatural(pesonaNaturalId,"demandante",judgementId) ? true : false
          validateSelected ? list += '<option '+validateSelected+' value= <%= persona.id%>> <%= persona.rut+" / "+persona.name+" "+persona.last_name1%> </option>' : ''
      <%end%>
      <%LegalPersona.order(:name).each do |empresa| %>
          var pesonaLegalId = '<%=empresa.id %>'
          var validateSelected = validatePersonaLegal(pesonaLegalId,"demandante",judgementId) ? true : false
          validateSelected ? list += '<option '+validateSelected+' value= <%= -empresa.id%>> <%= empresa.rut+" / "+empresa.name%> </option>' : ''
      <%end%>
      var id = "#"+divId+""
      $(id).html(list);        
   
    }

    function validatePersonaLegal(pesonaLegalId,type,judgementId){
      <% @judgementPersonas = JudgementPersonas.where(judgement_id:`${judgementId}`) %>
      var count = <%=@judgementPersonas != "" ? @judgementPersonas.size : 0 %>
      if(count > 0){
        <% @judgementPersonas.each do |judgementPersona| %>
        var persona_id = '<%=judgementPersona.persona_id%>'
        var persona_type = '<%=judgementPersona.persona_type%>'
        var judgement_type = '<%=judgementPersona.judgement_type%>'
          if(persona_id==pesonaLegalId && judgement_type==type && persona_type=="Legal"){
            return true
          }
        <%end%>
      }
      return false
    }

    function validatePersonaNatural(pesonaNaturalId,type,judgementId){
 
      <% @judgementPersonas = JudgementPersonas.where(judgement_id:`${judgementId}`) %>
      var count = <%=@judgementPersonas != "" ? @judgementPersonas.size : 0 %>
      if(count > 0){
        <% @judgementPersonas.each do |judgementPersona| %>
        var persona_id = '<%=judgementPersona.persona_id%>'
        var persona_type = '<%=judgementPersona.persona_type%>'
        var judgement_type = '<%=judgementPersona.judgement_type%>'
          if(persona_id==pesonaNaturalId && judgement_type==type && persona_type=="Natural"){
            return true
          }
        <%end%>
      }
      return false
    }

  function callPerson(){
     <% @judgements.each do |judgement| %>
      getPersonDemandante('<%=judgement.id%>','jud_<%=judgement.id%>_demandante')
      getPersonDemandado('<%=judgement.id%>','jud_<%=judgement.id%>_demandado')
    <% end %>
  }

  function elementJudgementList(id){
    var newList = ''
        <% @judgements.each do |judgement| %>
           var judmentId = '<%= judgement.id %>'
           if(judmentId == id){
            
              newList = '<a href="javascript:void(0)" onclick="changeDataTable('+judmentId+')"><%= judgement.id %>-<%= judgement.court.name %>-<%= judgement.rol_trial %></a>'
            
           }           
        <% end %>
      return newList
  }

//esta funcion muestra tabla ya filtrada por id de judment
  function table(id){
    var newList = ''
        <% @judgements.each do |judgement| %>
           var judmentId = '<%= judgement.id %>'
           if(judmentId == id){
              newList = '<table class="table table-bordered table-hover"><thead  class="thead-dark"><tr><th scope="col">Tipo de juicio</th><th scope="col">Tribunal</th><th scope="col">Rol</th><th scope="col">Nombre Juicio</th><th scope="col">Opciones</th></tr></thead><tbody id="bodyData" class="rounded-pill"><tr><td><%= judgement.type_judgement %></td><td><%= judgement.court.name %> </td><td><%= judgement.rol_trial %> </td><td><%= judgement.demandante %> / <%= judgement.demandado %></td><td><%= link_to 'ver', judgement , class: "btn btn-info" %><%= link_to 'editar', edit_judgement_path(judgement) , class: "btn btn-warning" %><%= link_to 'borrar', judgement, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%></tr></tr></tbody></table>'
           }           
        <% end %>
      return newList
  }
  


   function changeDataTable(id){
    $('div#live-search-results').html(table(id));
    displayButton()
    //<tbody id="bodyData" class="rounded-pill">

   }



  function searchDataJudgement(value) {
    //console.log(value)

    var form = $("#Form_judgement"); // grab the form wrapping the search bar.
  
    var url = "/judgements/searchFilterData"; // live_search action.   
    var formData = form.serialize(); // grab the data in the form   

    //console.log(url)
    //console.log(formData)

    $.get(url, formData, function(json) { // perform an AJAX get
      //$("#live-search-results").html(json); // replace the "results" div with the results
      //console.log(json)
     // console.log(json[0].id)
     //$('div#listSearch').text(json[0].id);

        //console.log(json.size)
        //json.forEach(element => 
          //console.log(element.id)
         // var newList = elementJudgementList(5)
        //);
        var list = []
    $.each(json, function(i, item) {
        //elementJudgementList(json[i].id);
        list.push(elementJudgementList(json[i].id))
    });
        //console.log(list)
        //var newList = elementJudgementList(4)
        /*for (var i = 0; i < 9; i++) {
          n += i;
          mifuncion(n);
        }*/

      
        //var newLists;


      $('div#listSearch').html(list);
    })
}
</script>

<br>
<%= link_to 'Nuevo Juicio', new_judgement_path ,class: "btn btn-primary"%>
<br>
<br>
<%= link_to "Quitar filtros", judgements_path, class:"btn btn-info"%>
<br>
<br>
  <div class="dropdown">
    <button onclick="displayButton()" class="dropbtn">Buscar Juicio</button>
    <div id="myDropdown" class="dropdown-content">
      <form id="Form_judgement">
        <input type="text" placeholder="Search.." id="myInput" name="q" onkeyup="searchDataJudgement()">
      </form>
      <div id="listSearch">
        <% @judgements.each do |judgement| %>
          <a href="javascript:void(0)" onclick="changeDataTable(<%= judgement.id %>)"><%= judgement.id %>-<%= judgement.court.name %>-<%= judgement.rol_trial %></a>
        <% end %>
      </div>
    </div>
  </div>
<br>
  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function displayButton() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
  </script>
<br>   
<div id="live-search-results">
  <table   class="table table-bordered table-hover">
    <thead  class="thead-dark">
      <tr> 
        <th scope="col">Tribunal</th>
        <th scope="col">Rol</th>
       <!-- <th scope="col">Demandante</th>
        <th scope="col">Demandado</th>-->
        <th scope="col">Tipo de juicio</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody id="bodyData" class="rounded-pill">
      <% @judgements.each do |judgement| %>
        <tr>
          <td><%= judgement.court.name %> </td>
          <td><%= judgement.rol_trial %> </td>
           <!-- <td><div id="jud_<%=judgement.id%>_demandante"></div></td>
          <td><div id="jud_<%=judgement.id%>_demandado"></div></td>-->
          <td><%= judgement.type_judgement %></td>
          <td>
            <%= link_to 'ver', judgement , class: "btn btn-info" %>
            <%= link_to 'editar', edit_judgement_path(judgement) , class: "btn btn-warning" %>
            <%= link_to 'borrar', judgement, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<script>callPerson();</script>
<%= will_paginate(@judgement, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,previous_label: "Anterior", next_label: "Siguiente", class: 'pagination justify-content-center') %>
</div>