<br>
<%= link_to 'Nuevo Juicio', new_judgement_path ,class: "btn btn-primary"%>
</br>

<table   class="table table-bordered table-hover">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Tipo de juicio</th>
      <th scope="col">Tribunal</th>
      <th scope="col">Rol</th>
      <th scope="col">Nombre Juicio</th>
      <th scope="col">Pertenece al remate:</th>
      <th scope="col">Opciones</th>

    </tr>
  </thead>
  <tbody class="rounded-pill">
    <% @judgements.each do |judgement| %>

      <tr>
        <td><%= judgement.type_judgement %></td>
        <td><%= judgement.auction.court.name %> </td>
        <td><%= judgement.auction.rol_trial %>,<%= judgement.auction.date %> </td>
        <td><%= judgement.demandado %> / <%= judgement.demandante %></td>
        <td><%= judgement.auction.name %></td>

        <td>
          <%= link_to 'Ver', judgement , class: "btn btn-info" %>
          <%= link_to 'Edit', edit_judgement_path(judgement) , class: "btn btn-warning" %>
          <%= link_to 'Borrar', judgement, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>

      </tr>
    <% end %>
  </tbody>
</table>
