<div class="card">
  <div class="card-header">
    Avisos
  </div>
  <div class="card-body">
    <li class="list-group-item "><%= link_to 'Todos los avisos', auctionnotices_path %></li>
    <li class="list-group-item "><%= link_to 'Listado Avisos Pendientes', auctionnotices_pending_path %></li>
    <li class="list-group-item"><%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %></li>
    <li class="list-group-item"><%= link_to 'Listado Avisos Descartados', auctionnotices_rejected_path %></li>
    <li class="list-group-item"><%= link_to 'Listados Avisos Asociados', auctionnotices_joined_path %></li>
    <li class="list-group-item"><%= link_to 'Ingresar Avisos x Doc', auctionlistings_path %></li>
    <li class="list-group-item"><%= link_to 'Ingresar Avisos x individual', new_auctionnotice_path %></li>
  </div>
</div>
