<div class="card">
  <div class="card-header">
    Area Legal
  </div>
  <div class="card-body">
    <li class="list-group-item "><%= link_to 'Remates', auctions_path%></li>
    <li class="list-group-item"><%= link_to 'Calendario de Remates ', calendario_path %></li>
    <li class="list-group-item"><%= link_to 'Calendario de Garantias ', calendario_garantias_path %></li>
    <li class="list-group-item"><%= link_to 'Juicios ', judgements_path %></li>
    <li class="list-group-item"><%= link_to 'Acta Remate', auctions_records_path %></li>
    <li class="list-group-item"><%= link_to 'Deuda Acreedores', judgement_debts_path %></li>
    <li class="list-group-item"><%= link_to 'Anotaciones Judiciales ', judicialfiles_path %></li>
  </div>
</div>
