<div class="card">
  <div class="card-header">
    Area Legal
  </div>
  <div class="card-body">
    <li class="list-group-item "><%= link_to 'Remates', auctions_path%></li>
    <li class="list-group-item"><%= link_to 'Calendario de Remates ', calendario_path %></li>
    <li class="list-group-item"><%= link_to 'Juicios ', judgements_path %></li>
    <li class="list-group-item"><%= link_to 'Expedientes ', judicialfiles_path %></li>
    <li class="list-group-item"><%= link_to 'Acta de Remates ', auctionrecords_path %></li>
  </div>
</div>
