<%= form_with(model: realty_domainfile, local: true) do |form| %>
  <% if realty_domainfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realty_domainfile.errors.count, "error") %> prohibited this realty_domainfile from being saved:</h2>

      <ul>
      <% realty_domainfile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name %>
  </div>

  <div class="field">
    <%= form.label :observation %>
    <%= form.text_field :observation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
