<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @realty_domainfile.file_name %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @realty_domainfile.observation %>
</p>

<%= link_to 'Edit', edit_realty_domainfile_path(@realty_domainfile) %> |
<%= link_to 'Back', realty_domainfiles_path %>
