
<div class="container">


<%= form_for [@phoneable, @phone] do |f| %>
  <% if @phone.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @phone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    
    <div class= "card text-center bg-ligth mb-3">
      <div class= "card-header">
        <h1>Editar telefono</h1>
      </div>
      <div class= "card-body">
        <p class= "card-text">
          <div class="form-row">
            <div class= "col">
              <%= f.label :type_phone, "Tipo" %>
              <%= f.text_field :type_phone, class: "form-control" %>
            </div>
         
          
            <div class= "col">
              <%= f.label :number_phone, "Teléfono" %>
              <%= f.text_field :number_phone, class: "form-control" %>
            </div>
          </div>
        </p>
          <div class="form-row">
            <div class="form-group">
              <%= f.submit "Guardar", class: "btn btn-primary btn-lg" %>
            </div>
          </div>
      </div>  
    </div>    
  </div>

<% end %>
</div>