<script>
  $(document).ready(function () {
    $('select#appraisal_realty_id').select2({
      theme: "bootstrap"
    });
  });
</script>
<br>
<div class="row justify-content-md-center">
  <div class="card">
    <div class="card-body">
      <%= form_with model: @appraisal do |form| %>
      <%= form.label :type_judgement, "Editar tasación" %>
      <div>
        <h4><%= @appraisal.realty.name_realty %> </h4>
      </div>
      <div class="form-group">
        <%= form.label :realty_id, "Seleccionar Propiedad" %>
        <%= form.select :realty_id, options_for_select(Realty.all.collect {|p| [p.name_realty, p.id]}, @appraisal.realty_id),  { include_blank: "Seleccione"}, class:"form-control border" %>
      </div>
      <div class="form-group">
        <%= form.label :date, "Fecha" %>
        <%= form.text_field :date,  data:{provide:'datepicker',date_format: "dd-mm-yyyy"},autocomplete: "off" , class:"form-control border"%>
      </div>
      <div class="form-group">
        <%= form.label :entity, "Entidad" %>
        <%= form.text_field :entity, id: :entity , class:"form-control border" ,autofocus: true%>
      </div>
      <div class="form-group">
        <%= form.label :price_uf, "Precio UF" %>
        <%= form.number_field :price_uf, id: :price_uf , class:"form-control border" %>
      </div>
      <div class="form-group">
        <%= form.label :price_clp, "Precio CLP" %>
        <%= form.number_field :price_clp, id: :price_clp , class:"form-control border" %>
      </div>
      <div class="form-group">
        <%= form.label :price_usd, "Precio USD" %>
        <%= form.number_field :price_usd, id: :price_usd , class:"form-control border" %>
      </div>
      <div class="form-group">
        <%= form.label :observation, "Observacion:" %>
        <%= form.text_field :observation, id: :name ,autofocus: true, class:"form-control border"%>
      </div>
      <div class="form-group">
        <div class="custom-file">
          <%= form.file_field :file_name, id: :file_name ,class:"custom-file-input",autofocus: true %>
          <label class="custom-file-label" for="customFile"><%= @appraisal.file_name.to_s.split('/')[5]%></label>
        </div>
      </div>
      <br>
      <div class="form-group">
        <%= form.submit "Guardar",class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>