<h1>Nueva Direcci贸n</h1>
<div class="container">


<%= form_for [@directionable, @direction] do |f| %>
  <% if @direction.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @direction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="form-row">
      <div class="form-group">

        <%= f.hidden_field :rut , value: @legal_persona.rut %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <%= f.label :direction_a, "Direcci贸n 1" %>
        <%= f.text_field :direction_a %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <%= f.label :direction_b, "Direcci贸n 2" %>
        <%= f.text_field :direction_b %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <%= f.label :direction_c, "Direcci贸n 3" %>
        <%= f.text_field :direction_c %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <%= f.submit "Guardar" %>
      </div>
    </div>
  </div>
</div>

<% end %>
