<h1>Nueva Direccion</h1>
<div class="container">


<%= form_for [@directionable, @direction] do |f| %>
  <% if @direction.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @direction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="form-row">
      <div class="form-group">

        <%= f.hidden_field :rut , value: @legal_persona.rut %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <%= f.label :directiona, "Direccion 1" %>
        <%= f.text_field :directiona %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <%= f.label :directionb, "Direccion 2" %>
        <%= f.text_field :directionb %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <%= f.label :directionc, "Direccion 3" %>
        <%= f.text_field :directionc %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <%= f.submit "Guardar" %>
      </div>
    </div>
  </div>
</div>

<% end %>
