<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
  Añadir Rubro
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">          
            <div class="row">
                <%= form_with model: @Rubro, url: rubros_path ,id: :formulary, remote: true do |form| %>
                    <div class= "card">
                        <div class="field">
                            <%= form.label :nombre %>
                            <%= form.text_field :nombre , class: "form-control" %>
                        </div>
                        <%= form.hidden_field :legal_persona_id, value: @activityable.id %>
                        <br>
                        <div class="actions">
                            <%= form.submit "Guardar", class: "btn btn-primary" %>
                        </div>
                    </div>    
                <% end %>
            </div>
        </div>      
      </div>
    </div>
  </div>
</div>