<br>



<div class="container" id="wrapper">
  <%= form_for(resource,as: resource_name,url: registration_path(resource_name),
      html: {class: 'form-horizontal'}) do |f| %>
      <h2  >Registro</h2>

      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :nombre %>
        <%= f.text_field :name,class: 'form-control',autofocus: true %>
        </div>

      <div class="form-group">
        <%= f.label :Correo_electrónico %>
        <%= f.email_field :email,class: 'form-control' ,autocomplete: "off"%>
        </div>
      <div class="form-group">
        <%= f.label :rut %>
        <%= f.text_field :rut, id: :rut,class: 'form-control ' ,autocomplete: "off"%>

      <script>
        $(function() {
          $("#rut").rut().on('rutValido', function(e, rut, dv) {
            alert("El rut " + rut + "-" + dv + " es correcto");
            }, { minimumLength: 7} );
          })
      </script>
      </div>
      <div class="form-group">
        <%= f.label :Dirección %>
        <%= f.text_field :address, class: 'form-control',autocomplete: "off"%>
        </div>

        <div class="col-md-2">
          <%= link_to '#', class:"btn btn-primary", id:"find-address" do %>
            <i class="fa fa-map-marker"> </i>
      <% end %>
        </div>


      <div class="form-group">
        <%= f.label :Contraseña %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> carácteres Mínimo)</em>
        <% end %><br />
        <%= f.password_field :password,autocomplete: "off",class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :confirmar_contraseña %><br />
        <%= f.password_field :password_confirmation,autocomplete: "off",class: 'form-control' %>
      </div>


        <%= f.submit "Registrarse", class: 'btn btn-success' %>

      <%= render "devise/shared/links" %>
    <% end %>
    </div>

  </div>

<script>
  $("#find-address").click(function(event){
    $(this).html('<i class="fa fa-spinner fa-spin"> </i>')
    event.preventDefault;

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(getAddress);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser";
    }
  });

  function getAddress(position) {
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      $.ajax({
        url: '/geocoder/findaddress',
        type: 'GET',
        dataType: 'script',
        data: {latitude: latitude, longitude: longitude}
      })
      .done(function() {
        console.log(" la dirección es válida");

      })
      .fail(function() {
        console.log("error, dirección no válida");
      })
      .always(function() {
        $("#find-address").html('<i class="fa fa-map-marker"> </i>');
      });

  }

  </script>
