<%= form_with model: @judicialfile do |form| %>
    <%= form.label :type_judgement, "Editar Expediente" %>

    <div>
    <%= @judicialfile.id %>
    <h2><%= @judicialfile.judgement.full_name_judgement %> </h2>
  </div>
  
       
   <div class="form-group col-md-2">
     <%= form.label :date, "Fecha" %>
     <%= form.text_field :date,  data:{provide:'datepicker',date_format: "dd-mm-yyyy"},autocomplete: "off" %>
   </div>
  
   <div class="field">
    <%= form.label :obs, "Observacion:" %>
    <%= form.text_area :obs, id: :obs ,autofocus: true, class:"form-control border"%>
  </div>


    // agregar adjuntar pdf
  
  
  
  
  
  
   <%= form.submit "Guardar" %>
  
  <% end %>
  