<%= form_with model: @condominio  do |form| %>
  <%= form.label :name, "Ingreso de nuevo Condominio/Edificio" %>
  <%= form.text_field :name  %>


  <div class="form-group col-md-2">
    <%= form.label :address, "Direccion" %>
    <%= form.text_field :address, id: :address , class:"form-control border" ,autofocus: true%>
  </div>

  <div class="form-group col-md-2">
    <%= form.label :commune_id, "Comuna" %>
    <%= form.select :commune_id, options_for_select(Commune.all.collect {|p| [p.name, p.id]}, { include_blank: "Seleccione"}) %>
  </div>



  <div class="form-group col-md-2">
    <%= form.label :legal_persona_id, "Administracion Condominio/Edificio" %>
    <%= form.select :legal_persona_id, options_for_select(LegalPersona.all.collect {|p| [p.name, p.id]}, { include_blank: "Seleccione"}) %>
  </div>

  <div class="form-group col-md-2">
    <%= form.label :persona_id, "Administrador" %>
    <%= form.select :persona_id, options_for_select(Persona.all.collect {|p| [p.name, p.id]}, { include_blank: "Seleccione"}) %>
  </div>



 <%= form.submit "Guardar" %>

<% end %>
