<br>
<%= link_to 'Nuevo Condominio/Edificio', new_condominio_path ,class: "btn btn-primary"%>
<br>
<br>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre de Condominio/Edificio</th>
      <th scope="col">Direccion</th>
      <th scope="col">Comuna</th>
      <th scope="col">Persona legal</th>
      <th scope="col">Acciones </th>
    </tr>
  </thead>
  <tbody class="rounded-pill">
    <% @condominios.each do |condominio| %>
    <tr>
      <td><%= condominio.name %></td>
      <td><%= condominio.address %></td>
      <td><%= condominio.commune.name %></td>
      <td>
        <% if (condominio.legal_persona_id != 0) then %>
        <% @legalpersonas.each do |legalpersona| %>
        <% if (legalpersona.id === condominio.legal_persona_id)%>
          <%= legalpersona.name %>
        <% end %>
        <%end%>
        <% else %>
        No figura
        <%end%>
      <td>
        <%= link_to 'ver', condominio , class: "btn btn-info" %>
        <%= link_to 'editar', edit_condominio_path(condominio) , class: "btn btn-warning" %>
        <%= link_to 'borrar', condominio, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>
    </tr>
    <% end %>
  </tbody>
</table>