

<%= link_to 'Volver Listado Condominio/Edificio', condominios_path %>

<p></p>

<div class="row" id="fileview">
  <div class="col-principal col-md-8">
    <div>
      <h2>
        Condominio/Edificio nยบ  <%= @condominio.id %> 
        </h2>
    </div>
    <h4>Informacion del  Condominio/Edificio</h4>


      <div>
        Nombre:  <%= @condominio.name %>
      </div>
       <div>
         Direccion: <%= @condominio.address%>
       </div>

       <div>
          Comuna:     <%= @condominio.commune.name %>
        </div>


  </div>

</div>
