

<%= link_to 'Volver Listado Condominio/Edificio', condominios_path %>

<p></p>

<div class="row" id="fileview">
  <div class="col-principal col-md-8">
    <div>
      <h2>
        Condominio/Edificio nยบ  <%= @condominio.id %> 
        </h2>
    </div>
    <h4>Informacion del  Condominio/Edificio</h4>


      <div>
        Nombre:  <%= @condominio.name %>
      </div>
      <div>
        Direccion: <%= @condominio.address%>
      </div>

      <div>
        Comuna:     <%= @condominio.commune.name %>
      </div>

      <div>
        <% if (@condominio.legal_persona_id != nil) then %>
          Persona Legal:  <%= @condominio.legal_persona.name%><br>
          Alias: <%= @condominio.legal_persona.alias %><br>
          Nombre de fantasia: <%= @condominio.legal_persona.fantasy_name%><br>
        <% else %>
          Persona Legal: No figura  
        <% end %>
      </div>


  </div>

</div>
