<br>
<div class="container" id="auctionnoticenew">


  <%= form_for @realty do |form| %>
    <%= form.label :name, "Ingreso de Propiedad:" %>


    <div class="form-group">
      <%= form.label :name_realty, "Nombre de propiedad" %>
      <%= form.text_field :name_realty, id: :name_realty%>
    </div>

    <div class="form-group">
      <%= form.label :street_type_id, "Tipo de Calle" %>
      <%= form.select :street_type_id, options_for_select([["Calle", 0],["Avenida", 1], ["Pasaje", 2], ["Camino", 3]]), {include_blank: "Seleccione"} %>
    </div>
    <div class="form-group">
    <%= form.fields_for :type_realty do |f| %>
      <%= f.label :type, "tipo de propiedad" %>
        <%= f.select :type, options_for_select(["Calle", "Avenida", "Pasaje", "Camino"]),{include_blank: "Seleccione"} %>
        <%= f.label :comment, "Especificaciones" %>
          <%= f.text_field :comment %>
        <%end %>
        </div>


    <p> dirección </p>

    <div class="form-group">
      <%= form.label :street, "Calle" %>
      <%= form.text_field :street, id: :street %>
    </div>

    <div class="form-group">
      <%= form.label :number_unit, "Numero" %>
      <%= form.number_field :number_unit, id: :number_unit %>
    </div>

    <div class="form-group">
      <%= form.label :unit_estate, "Unidad" %>
      <%= form.text_field :unit_estate, id: :unit_estate %>
    </div>

    <div class="form-group">
      <%= form.label :population_villa, "villa/población" %>
      <%= form.text_field :population_villa, id: :population_villa %>
    </div>
    <div class="field">
      <%= form.fields_for :communes do |form| %>
      <%= form.label :commune_id, "comuna" %>
      <%= form.select :commune_id, options_for_select(Commune.all.collect {|c| [c.name, c.id]}), {include_blank: "Seleccione"}  %>
    <%end%>
    </div>





    <%= form.fields_for :characteristic do |form| %>
      <%= form.label :mt2_land, "Metros cuadrados" %>
        <%= form.number_field :m2_land %>
        <%= form.label :mt2_land, "Metros construidos" %>
          <%= form.number_field :m2_built %>
        <%end %>


   <%= form.submit "Ingresar" %>

  <% end %>


</div>
