<br>
<div class="container-fluid ">

  <div class="row">
    <div class="col-md-auto">




      <%= form_for @realty do |form| %>
          <%= render 'messages' %>

        <div class="form-group">
          <div class="form-row">
            <div class="form-group col-md-4">
              <%= form.label :name_realty, "Nombre de propiedad:" %>
              <%= form.text_field :name_realty, class:"form-control border" ,autofocus: true%>
            </div>
            <div class="form-group col-md-3">
              <%= form.label :street_type_id, "Tipo de Calle:" %>
              <%= form.select :street_type_id, options_for_select([["Calle", 0],["Avenida", 1], ["Pasaje", 2], ["Camino", 3]]), {include_blank: "Seleccione"} ,class:"custom-select mr-sm-2"%>
            </div>
            <div class="form-group col-md-4">
              <%= form.label :commune_id, "Comuna:" %>
              <%= form.select :commune_id, options_for_select(Commune.order(:name).collect {|c| [c.name,c.id]}), {include_blank: "Seleccione"} ,class:"custom-select mr-sm-2"%>
            </div>


          <div class="form-row">
            <div class="form-group col-md-2">
              <%= form.label :street, "Calle:" %>
              <%= form.text_field :street, id: :street , class:"form-control border" ,autofocus: true%>
            </div>
            <div class="form-group col-md-2">
              <%= form.label :number_unit, "Numero:" %>
              <%= form.number_field :number_unit, id: :number_unit , class:"form-control border" ,autofocus: true%>
            </div>
            <div class="form-group col-md-2">
              <%= form.label :unit_estate, "Unidad:" %>
              <%= form.text_field :unit_estate, id: :unit_estate , class:"form-control border" ,autofocus: true%>
            </div>
            <div class="form-group col-md-3">
              <%= form.label :population_villa, "villa/población:" %>
              <%= form.text_field :population_villa, id: :population_villa , class:"form-control border" ,autofocus: true%>
            </div>
          </div>
          
            <div class="form-row">
              <%= form.fields_for :type_realty do |f| %>
              <div class="form-group col-md-2">
                <%= f.label :tipo, "tipo de propiedad" %>
                <%= f.select :tipo,options_for_select(TypeRealty.tipos.keys.to_a),{include_blank: "Seleccione"} %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :comment, "Comentarios" %>
                <%= f.text_field :comment %>
              </div>
            </div>
        <% end %>
    </div>


          </div>

        </div>

        <div class="form-row">
          <div class="col">
            <%= form.submit "Añadir Propiedad",class: "btn btn-success" %>
            <% end %>

          </div>
        </div>

    </div>

    <div class="col">

    </div>

  </div>
</div>
