<tr>
  <td>
    <%#= realty.street + " " + (realty.number_unit).to_s + " " + realty.unit_estate+ " " + realty.commune.name %>
    <%#= "#{realty.street} #{(realty.number_unit).to_s}  #{realty.unit_estate}  #{realty.commune.name}" %>
    <%= realty.address %>
  </td>
  <td> <%= "#{realty.unit_estate}, "%></td>
  <td> <%= realty.population_villa %></td>
  <td> <%= realty.type_realty.id %></td>
  <td> <%= realty.appraisal_role %></td>
  <td> <%= realty.fiscal_destination %></td>

  <td>
    <%= link_to  realty,class: "btn btn-info" do %>
    <%= fa_icon "home"%> Ver
   <% end %>
    <%= link_to 'Editar', edit_realty_path(realty) ,class: "btn btn-warning" %>

    <%= link_to  realty, method: :delete, data: { confirm: "desea eliminar #{realty.name_realty} ?" },class: "btn btn-danger" do %>
    <%= fa_icon "ban"%> Eliminar
   <% end %>
  </td>
</tr>
