<script>
  $(document).ready(function () {
    $('select#realty_tipo').select2({
      theme: "bootstrap"
    });
    $('select#realty_street_type_id').select2({
      theme: "bootstrap",
      width: "100%"
    });
    $('select#realty_commune_id').select2({
      theme: "bootstrap",
      width: "100%"
    });
    $('select#realty_condominio_id').select2({
      theme: "bootstrap",
      width: "100%"
    });
  });
</script>
<div class="row justify-content-md-center">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="card-body">
            <%= form_with model: @realty, id: :formulary, remote: true do |form| %>
            <div class="form-group">
              <div class="row ">
                <h2>Propiedad: <%= @realty.address %>, <%= @realty.unit_estate %></h2>
              </div>
            </div>
            <%= form.hidden_field :auction_id, :value => @auction_id%>
            <div class="form-group">
              <div class="row ">
                <div class="col-md-6">
                  <%= form.fields_for :type_realty do |form| %>
                  <%= form.label :tipo, "tipo de propiedad" %>
                  <%= form.select :tipo, options_for_select(TypeRealty.tipos.keys.map  {|type| [type]},@realty.type_realty.tipo),{include_blank: "Seleccione"} ,class:"custom-select", required: true %>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <%= form.label :name_realty, "Nombre de propiedad:" %>
                  <%= form.text_field :name_realty, id: :name_realty , class:"form-control border" ,autofocus: true, required: true %>
                </div>
              </div>
            </div>
                <div class="form-group">
                  <div class="row ">
                    <div class="col-md-3">
                      <%= form.label :street_type_id, "Tipo de Calle:" %>
                      <%= form.select :street_type_id, options_for_select([["Calle", 0],["Avenida", 1], ["Pasaje", 2], ["Camino", 3]], @realty.street_type_id), {include_blank: "Seleccione"} ,class:"custom-select mr-sm-2", required: true %>
                    </div>
                    <div class="col-md-9">
                      <%= form.label :commune_id, "Comuna:" %>
                      <%= form.select :commune_id, options_for_select(Commune.order(:name).collect {|c| [c.name+" - "+c.province.name+" - "+c.province.region.name,c.id]}, @realty.commune_id), {include_blank: "Seleccione"} ,{class:"custom-select", data: {"live-search": true }, onchange: "get_value(this)"} %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row ">
                    <div class="col-md-10">
                      <%= form.label :street, "Calle:" %>
                      <%= form.text_field :street, id: :street , class:"form-control border" ,autofocus: true, required: true %>
                    </div>
                    <div class="col-md-2">
                      <%= form.label :number_unit, "Numero:" %>
                      <%= form.number_field :number_unit, id: :number_unit , class:"form-control border" ,autofocus: true, required: true %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                <div class="row ">
                  <div class="col-md-2">
                    <%= form.label :unit_estate, "Unidad:" %>
                    <%= form.text_field :unit_estate, id: :unit_estate , class:"form-control border" ,autofocus: true, required: true %>
                  </div>
                  <div class="col-md-5">
                    <%= form.label :population_villa, "Población/Villa/Conjunto:" %>
                    <%= form.text_field :population_villa, id: :population_villa , class:"form-control border" ,autofocus: true%>
                  </div>
                  <div class="col-md-5">
                    <%= form.label :condominio_id, "Condominio:" %>
                    <%= form.select :condominio_id, options_for_select([["Seleccione condominio", 0]], @realty.condominio_id), {include_blank: "Seleccione"} ,{data: {"live-search": true }} %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-md-3">
                    <%= form.label :latitude, "Latitud:" %>
                    <%= form.text_field :latitude, id: :latitude , class:"form-control border" ,autofocus: true%>
                  </div>
                  <div class="col-md-3">
                    <%= form.label :longitude, "Longitud:" %>
                    <%= form.text_field :longitude, id: :longitude , class:"form-control border" ,autofocus: true%>
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group">
                <h5>Avalúo Fiscal</h5> 
                <div class="row ">                  
                  <div class="col-md-3">
                    <%= form.label :apple, "manzana:" %>
                    <%= form.number_field :apple, id: :apple , class:"form-control border" ,autofocus: true%>
                  </div>
                  <div class="col-md-3">
                    <%= form.label :property, "properties:" %>
                    <%= form.number_field :property, id: :property , class:"form-control border" ,autofocus: true%>
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group">
                <%= form.fields_for :type_realty do |form| %>
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#type_realty" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Tipo de propiedad
                  </a>
                </p>
                <div class="collapse" id="type_realty">
                  <div class="card card-body">
                    <div class="col-md-10">
                      <%= form.label :bathroom, "baños:" %>
                      <%= form.text_field :bathroom, id: :bathroom , class:"form-control border" ,autofocus: true %>
                    </div>
                    <div class="col-md-10">
                      <%= form.label :parking_lot, "estacionamiento:" %>
                      <%= form.text_field :parking_lot, id: :parking_lot , class:"form-control border" ,autofocus: true %>
                    </div>
                    <div class="col-md-10">
                      <%= form.label :cellar, "bodega:" %>
                      <%= form.text_field :cellar, id: :cellar , class:"form-control border" ,autofocus: true %>
                    </div>
                    <div class="col-md-10">
                      <%= form.label :bedroom, "habitaciones:" %>
                      <%= form.text_field :bedroom, id: :bedroom , class:"form-control border" ,autofocus: true %>
                    </div>
                    <div class="col-md-10">
                      <%= form.label :ambient, "ambientes:" %>
                      <%= form.text_field :ambient, id: :ambient , class:"form-control border" ,autofocus: true %>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="form-group">
                  <%= form.fields_for :characteristic do |form| %>
                  <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#characteristic" role="button"
                      aria-expanded="false" aria-controls="collapseExample">
                      Caracteristicas
                    </a>
                  </p>
                  <div class="collapse" id="characteristic">
                    <div class="card card-body">
                      <div class="col-md-10">
                        <%= form.label :m2_land, "Sup.Terreno:" %>
                        <%= form.text_field :m2_land, id: :m2_land , class:"form-control border" ,autofocus: true %>
                      </div>
                      <div class="col-md-10">
                        <%= form.label :m2_built, "Sup.Construida:" %>
                        <%= form.text_field :m2_built, id: :m2_built , class:"form-control border" ,autofocus: true %>
                      </div>
                      <div class="col-md-10">
                        <%= form.label :material, "material:" %>
                        <%= form.text_field :material, id: :material , class:"form-control border" ,autofocus: true %>
                      </div>
                      <div class="col-md-10">
                        <%= form.label :built_year, "Año Construccion:" %>
                        <%= form.text_field :built_year, id: :built_year , class:"form-control border" ,autofocus: true %>
                      </div>
                    </div>
                  </div>
                  <% end %>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-md-12">
                    <%= form.fields_for :type_realty do |form| %>
                    <%= form.label :comment, "Comentarios" %>
                    <%= form.text_area( :comment , cols: 3, rows: 3, class:"form-control border")%>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= form.submit "Modificar Propiedad",class: "btn btn-success" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function get_value(params) {
    var list = '<option value=0>Seleccione condominio</option>'
    <% Condominio.order(:name).each do |condominio| %>
      var condominioId = '<%= condominio.commune_id %>'
      var condominioName = '<%= condominio.name %>'
      if (condominioId == params.value) {
        list += '<option value= <%= condominio.id%>> <%= condominio.name%> </option>'
      }
    <% end %>
    $('#realty_condominio_id').html(list); 
  }
</script>