<br>



  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <%= render 'map' %>
      </div>

      <div class="col">
        <%= link_to  auctionnotices_path,  class: "btn btn-primary" do %>
        <%= fa_icon "backspace"%>Ir al listado de avisos
        <% end %>

        <%= link_to 'Ir a Comuna', communes_path, class: "btn btn-primary" %>
        <%= link_to  new_realty_path, class: "btn btn-primary"  do%>
        <%= fa_icon "Plus"%>Nueva Propiedad
        <% end %>



      </div>

    </div>

  </div>






<h1>Listado de Propiedades</h1>
<div id="realties">

<table id="mytable"  class="table table-bordered table-hover">
  <thead  class="thead-dark">
    <tr id="realtiesTable">
      <th scope="col" >Direccion</th>
      <th scope="col">Departamento/Oficina</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>


  <tbody id="realties-xyz" >
    <%= render @realties %>

  </tbody>
</table>

</div>

<br>
home
