<br>



  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div style='width: 800px;'>
          <div id="map" style='width: 700px; height: 300px;'></div>
        </div>


      </div>

      <div class="col">
        <%= link_to  auctionnotices_path,  class: "btn btn-primary" do %>
        <%= fa_icon "backspace"%>Ir al listado de avisos
        <% end %>

        <%= link_to 'Ir a Comuna', communes_path, class: "btn btn-primary" %>
        <%= link_to  new_realty_path, class: "btn btn-primary"  do%>
        <%= fa_icon "Plus"%>Nueva Propiedad
        <% end %>



      </div>

    </div>

  </div>






<h1>Listado de Propiedades</h1>

<script>
  function myFunction(value) {
    console.log(value)

    var form = $("#live-search-form"); // grab the form wrapping the search bar.
  
    var url = "/realties/search"; // live_search action.   
    var formData = form.serialize(); // grab the data in the form   

    console.log(url)
    console.log(formData)

    $.get(url, formData, function(html) { // perform an AJAX get
      //$("#live-search-results").html(html); // replace the "results" div with the results

      console.log(html)
    })
}
</script>

<%= form_tag realties_path, :id => "live-search-form" do %>

  <input id="big-search-box" name="q" type="text" onkeypress="myFunction(value)"/>     
<% end %>

<div id="realties">

<table id="mytable"  class="table table-bordered table-hover">
  <thead  class="thead-dark">
    <tr id="realtiesTable">
      <th scope="col" >Nombre Propiedad</th>
      <th scope="col" >Direccion</th>
      <th scope="col">Departamento/Oficina</th>
      <th scope="col">Poblacion/Villa</th>
      <th scope="col">Tipo Propiedad</th>
      <th scope="col">Rol Sii</th>
      <th scope="col">Destino Sii</th>
      <th scope="col">Opciones</th>

    </tr>
  </thead>


  <tbody id="realties-xyz" >
    <%= render @realties %>

  </tbody>
</table>

</div>

<br>

<script>

handler = Gmaps.build('Google');
handler.buildMap({
  provider: {
    center: new google.maps.LatLng({lat: -33.43, lng: -70.65 }),
    zoom: 14
  },
  internal: {
    id: 'map'
  }
}, function(){
markers = handler.addMarkers(<%= raw @hash.to_json %>);
google.maps.event.addListener(handler.getMap(), "click", function(){
  console.log("hola");

  });
google.maps.event.addListener(handler.getMap(), 'center_changed', function(){
  var latitude = handler.getMap().getCenter().lat();
  var longitude = handler.getMap().getCenter().lng();
  $.ajax({
    url: '/realties',
    type: 'GET',
    dataType: 'script',
    data: {latitude: latitude, longitude: longitude}
  })
});
}
);
</script>
