<script>

  function elementRealtyList(id){
    var newList = ''
        <% @realties.each do |realty| %>
           var realtyId = '<%= realty.id %>'
           if(realtyId == id){
            
              newList = '<a href="javascript:void(0)" onclick="changeDataTable('+realtyId+')"><%= realty.id %>-<%= realty.commune.name %>-<%= realty.address %></a>'
            
           }           
        <% end %>
      return newList
  }

//esta funcion muestra tabla ya filtrada por id de realty
  function table(id){
    var newList = ''
        <% @realties.each do |realty| %>
           var realtyId = '<%= realty.id %>'
           if(realtyId == id){
              newList = '<table class="table table-bordered table-hover"><thead  class="thead-dark"><tr><th scope="col">Nombre de Propiedad</th><th scope="col">Tipo Propiedad</th><th scope="col">Direccion</th><th scope="col">Dpto/oficina</th><th scope="col">Poblacion/Villa</th><th scope="col">Rol Sii</th><th scope="col">Destino</th><th scope="col">Opciones</th></tr></thead><tbody id="bodyData" class="rounded-pill"><tr><td><%= realty.name_realty %></td><td><%= realty.type_realty.tipo %> </td><td><%= realty.address %>  <td><%= realty.unit_estate %> </td> </td><td><%= realty.population_villa %></td> <td><%= realty.appraisal_role %></td> <td><%= realty.fiscal_destination %> </td><td><%= link_to 'Ver', realty , class: "btn btn-info" %><%= link_to 'Edit', edit_realty_path(realty) , class: "btn btn-warning" %><%= link_to 'Borrar', realty, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%></tr></tr></tbody></table>'
           }           
        <% end %>
      return newList
  }
  


   function changeDataTable(id){
     console.log(id)
    $('div#live-search-results').html(table(id));
    displayButton()
    //<tbody id="bodyData" class="rounded-pill">

   }



  function searchDataRealty(value) {
    console.log(value)

    var form = $("#Form_realty"); // grab the form wrapping the search bar.
  
    var url = "/realties/searchFilterData"; // live_search action.   
    var formData = form.serialize(); // grab the data in the form   
    var formDataLowerCase = formData.toLowerCase();
    //console.log(url)
    //console.log(formData.toLowerCase())

    $.get(url, formDataLowerCase, function(json) { // perform an AJAX get
      //$("#live-search-results").html(json); // replace the "results" div with the results
      console.log(json)
     // console.log(json[0].id)
     //$('div#listSearch').text(json[0].id);

        //console.log(json.size)
        //json.forEach(element => 
          //console.log(element.id)
         // var newList = elementRealtyList(5)
        //);
        var list = []
    $.each(json, function(i, item) {
        //elementRealtyList(json[i].id);
        list.push(elementRealtyList(json[i].id))
    });
        console.log(list)
        //var newList = elementRealtyList(4)
        /*for (var i = 0; i < 9; i++) {
          n += i;
          mifuncion(n);
        }*/

        //var newLists;

      $('div#listSearch').html(list);
    })
}
</script>






<br>



  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div style='width: 800px;'>
          <div id="map" style='width: 700px; height: 300px;'></div>
        </div>


      </div>

      <div class="col">
        <%= link_to  auctionnotices_path,  class: "btn btn-primary" do %>
        <%= fa_icon "backspace"%>Ir al listado de avisos
        <% end %>

        <%= link_to 'Ir a Comuna', communes_path, class: "btn btn-primary" %>
        <%= link_to  new_realty_path, class: "btn btn-primary"  do%>
        <%= fa_icon "Plus"%>Nueva Propiedad
        <% end %>
      </div>

    </div>

  </div>






<h1>Listado de Propiedades</h1>

 <div class="form-group">
            <div class="row" style="margin-left: 2px;">
              <div class="col-xs-8">
                  <div class="dropdown">
    <button onclick="displayButton()" class="dropbtn">Buscar Propiedad</button>
    <div id="myDropdown" class="dropdown-content">
      <form id="Form_realty">
        <input type="text" placeholder="Ingrese referencia" id="myInput" name="q" onkeyup="searchDataRealty()">
      </form>
      <div id="listSearch">
        <% @realties.each do |realty| %>
          <a href="javascript:void(0)" onclick="changeDataTable(<%= realty.id %>)"><%= realty.id %>-<%= realty.commune.name %>-<%= realty.name_realty %></a>
        <% end %>
      </div>
    </div>
  </div>
              </div>
              <div class="col-xs-8">
               <%= link_to "Quitar filtros", realties_path, class:"btn btn-info"%>

                    </div>
            </div>
          </div>


<script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function displayButton() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
  </script>
</br>   




<br>
<div id="live-search-results">
  <table class="table table-bordered table-hover">
    <thead  class="thead-dark">
      <tr>
        <th scope="col">Nombre Propiedad</th>
        <th scope="col">Tipo Propiedad</th>
        <th scope="col">Direccion</th>
        <th scope="col">Condominio</th>
        <th scope="col">Comuna</th>
        <th scope="col">Documentación</th>
        <th scope="col">Opciones</th>

      </tr>
    </thead>

  <tbody id="bodyData" class="rounded-pill">
  <% @realties.each do |realty| %>

    <tr>
      <td><%= realty.name_realty %></td>
      <td><%= realty.type_realty.tipo %></td>
      <td><%= realty.address %> </td>
      <td>

        <% if (realty.condominio_id != 0) then %>
        <% @condominios.each do |condominio| %>
          <%= condominio.id === realty.condominio_id ? condominio.name : '' %>
          <% end %>

        <% else %>
           <div class="field">
              no hay Condominio
           </div>
        <% end %>

      </td>
      <td><%= realty.commune.name %>/<%= realty.commune.province.name%>/<%= realty.commune.province.region.name%> </td>
      <td>
        <% if realty.domain_title != "" && realty.domain_title.to_s.split('/')[5]!=nil %>
          <b>Titulo Dominio: </b><%= link_to realty.domain_title.to_s.split('/')[5], File.join(root_url.to_s,realty.domain_title.to_s), target: "_blank"%>
          <%= link_to 'Descargar', File.join(root_url.to_s,realty.domain_title.to_s),download:''%>
        <%else %>
          Sin Archivo
        <% end %>
        <br>
        <% if realty.gp != "" && realty.gp.to_s.split('/')[5]!=nil %>
          <b>GP: </b><%= link_to realty.gp.to_s.split('/')[5], File.join(root_url.to_s,realty.gp.to_s), target: "_blank"%>
          <%= link_to 'Descargar', File.join(root_url.to_s,realty.gp.to_s),download:''%>
        <%else %>
          Sin Archivo
        <% end %>
        <br>
        <% if realty.tax_appraisal != "" && realty.tax_appraisal.to_s.split('/')[5]!=nil %>
          <b>Tasa impuesto: </b><%= link_to realty.tax_appraisal.to_s.split('/')[5], File.join(root_url.to_s,realty.tax_appraisal.to_s), target: "_blank"%>
          <%= link_to 'Descargar', File.join(root_url.to_s,realty.tax_appraisal.to_s),download:''%>
        <%else %>
          Sin Archivo
        <% end %>
      </td>
      <td>
        <%= link_to 'ver', realty , class: "btn btn-info" %>
        <%= link_to 'editar', edit_realty_path(realty) , class: "btn btn-warning" %>
        <%= link_to 'borrar', realty, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>

    </tr>
  <% end %>
</tbody>
</table>



  
</table>

</div>

<br>

<script>

handler = Gmaps.build('Google');
handler.buildMap({
  provider: {
    center: new google.maps.LatLng({lat: -33.43, lng: -70.65 }),
    zoom: 14
  },
  internal: {
    id: 'map'
  }
}, function(){
markers = handler.addMarkers(<%= raw @hash.to_json %>);
google.maps.event.addListener(handler.getMap(), "click", function(){

  });
google.maps.event.addListener(handler.getMap(), 'center_changed', function(){
  var latitude = handler.getMap().getCenter().lat();
  var longitude = handler.getMap().getCenter().lng();
  $.ajax({
    url: '/realties',
    type: 'GET',
    dataType: 'script',
    data: {latitude: latitude, longitude: longitude}
  })
});
}
);
</script>
