<p id="notice"><%= notice %></p>

<p>
  <strong>Type member:</strong>
  <%= @realty_domainrol.type_member %>
</p>

<p>
  <strong>Type rol:</strong>
  <%= @realty_domainrol.type_rol %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @realty_domainrol.persona_id %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @realty_domainrol.precio %>
</p>

<p>
  <strong>Realty domains:</strong>
  <%= @realty_domainrol.realty_domains %>
</p>

<%= link_to 'Edit', edit_realty_domainrol_path(@realty_domainrol) %> |
<%= link_to 'Back', realty_domainrols_path %>
