<br>
<div class="container">
  <%= render 'layouts/alerts' %>
</div>

<div class="container-fluid  d-flex justify-content-center ">
<%= form_for  @legalpersona do |form| %>
  <%= form.label :name, "Ingreso de nueva Persona Juridica", class:"badge badge-primary" %>

  <div class="form-group">
    <%= form.label :rut, "Rut:" %>
    <%= form.text_field :rut, id: :rut, class:"form-control border"%>
    <script>
      $(function() {
        $("#rut").rut().on('rutValido', function(e, rut, dv) {
          alert("El rut " + rut + "-" + dv + " es correcto");
          }, { minimumLength: 7} );
        })
    </script>
    <%= form.label :name, "Nombre:" %>
    <%= form.text_field :name, id: :name, class:"form-control" %>
    <%= form.label :fantasy_name, "Nombre Fantasia:" %>
    <%= form.text_field :fantasy_name, id: :fantasy_name , class:"form-control"%>
    <%= form.label :alias, "Alias:" %>
    <%= form.text_field :alias, id: :alias , class:"form-control"%>
    <%= form.label :web, "Web:" %>
    <%= form.text_field :web, id: :web , class:"form-control"%>
    <%= form.submit "Guardar", class:"btn btn-success" %>
    <% end %>
  </div>
</div>
