<br>
<div class="container-fluid" id="wrapper" >
<%= form_for  @legalpersona do |form| %>
  <%= form.label :name, "Ingreso de nueva Persona Juridica" %>

  <div class="field">
    <%= form.label :rut, "Rut" %>
    <%= form.text_field :rut, id: :rut%>
  </div>


  <div class="field">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, id: :name %>
  </div>


  <div class="field">
    <%= form.label :fantasy_name, "Nombre Fantasia" %>
    <%= form.text_field :fantasy_name, id: :fantasy_name %>
  </div>

  <div class="field">
    <%= form.label :alias, "Alias" %>
    <%= form.text_field :alias, id: :alias %>
  </div>

  <div class="field">
    <%= form.label :web, "Web" %>
    <%= form.text_field :web, id: :web %>
  </div>


 <%= form.submit "Guardar" %>

<% end %>
</div>
