
<br>
<%= link_to 'Nueva Persona Juridica', new_legal_persona_path ,class: "btn btn-primary"%>
<br>
<table id="myTable" class="table">

  <thead>
    <tr>

      <th>Rut</th>
      <th>Nombre</th>
      <th>Nombre de Fantasia</th>
      <th>Alias</th>
      <th>Web</th>
      <th>opciones</th>


    </tr>
  </thead>




  <tbody>
    <% @legalPersonas.each do |legalpersona| %>

      <tr>
        <td><%= legalpersona.rut %></td>
        <td><%= legalpersona.name %></td>
        <td><%= legalpersona.fantasy_name %></td>
        <td><%= legalpersona.alias %></td>
        <td><%= legalpersona.web %></td>


        <td> <%= link_to 'Ver', legalpersona %>



        <%end%>
</td>


      </tr>

  </tbody>
</table>


<br>
