



<br>
<%= link_to 'Nueva Persona Juridica', new_legal_persona_path ,class: "btn btn-primary"%>
<br>


<script>
  function myFunction(value) {
    console.log(value)

    var form = $("#live-search-form"); // grab the form wrapping the search bar.
  
    var url = "/legal_personas/search"; // live_search action.   
    var formData = form.serialize(); // grab the data in the form   

    console.log(url)
    console.log(formData)

    $.get(url, formData, function(html) { // perform an AJAX get
      //$("#live-search-results").html(html); // replace the "results" div with the results

      console.log(html)
    })
}
</script>

<%= form_tag legal_personas_path, :id => "live-search-form" do %>

  <input id="big-search-box" name="q" type="text" onkeypress="myFunction(value)"/>     
<% end %>


<table   class="table table-bordered table-hover">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Rut</th>
      <th scope="col">Nombre</th>
      <th scope="col">Nombre de Fantasia</th>
      <th scope="col">Alias</th>
      <th scope="col">Web</th>
      <th scope="col">Actividad</th>
      <th scope="col">opciones</th>
    </tr>
  </thead>
  <tbody class="rounded-pill">
    <% @legalPersonas.each do |legalpersona| %>
      <tr>
        <td scope="row"><%= legalpersona.rut %></td>
        <td><%= legalpersona.name %></td>
        <td><%= legalpersona.fantasy_name %></td>
        <td><%= legalpersona.alias %></td>
        <td><%= legalpersona.web %></td>
        <td>

              <%= link_to 'Ver', legalpersona ,class: "btn btn-info"%>
              <%= link_to 'Edit', edit_legal_persona_path(legalpersona) , class: "btn btn-warning" %>
              <%= link_to 'Borrar', legalpersona, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>

      <%end%>
        </td>
      </tr>
  </tbody>
</table>
<br>
