<div class="row" id="fileview">
  <div class="col-principal col-md-8">

    <div class="field">
      <%= @legal_persona.rut %>

    </div>
    <div class="field">
      <%= @legal_persona.name %>

    </div>
    <div class="field">
      <%= @legal_persona.fantasy_name %>

    </div>
    <div class="field">
      <% @phones.each do |phone| %>
        <%= phone.phone_a %>
        <%= phone.phone_b %>
        <%= phone.phone_c %>

      <% end %>

    </div>

    </div>


<% unless @legal_persona.phones.any? %>
  <div class="col-lateral col-md-4"">
    <%= link_to 'Nuevo telefono', new_legal_persona_phone_path(@legal_persona) ,class:"button"%>
  </div>
  <% else %>
  <div class="col-lateral col-md-4"">
    <%= link_to 'editar telefono',   edit_legal_persona_phone_path(@legal_persona,@phones.id) ,class:"button"%>
  </div>



<% end %>


</div>
