<%= link_to 'Volver Listado Persona Juridica', legal_personas_path, class: "btn btn-primary" %>

<p></p>



<div class="container">
  <div class="row">
    <div class="col-sm-8 card card-body">
      <div class="row">
        <div class="col-md-12">
          <label for="name">Razon Social:</label>
          <input type = "text" id="name" class= "form-control" placeholder= "Name" disable value ='<%= @legal_persona.name %>' readonly>
        </div>
      </div>
      <div class= "row">
        <div class="col-md-12">
          <label for="name">Rut:</label>
          <input type = "text" id="rut" class= "form-control" placeholder= "Rut" disable value = '<%= @legal_persona.rut %>' readonly>
        </div>
      </div>
      

      <div class="row">
        <div class="col-sm-4"> <!--FANTASY NAME-->
          <%if @legal_persona.fantasy_name? %>
          <div class="field">
            <label for="name">Fantasy name:</label>      
            <input type = "text" id="fantasy_name" class= "form-control" placeholder= "fantasy_name" disable value = '<%= @legal_persona.fantasy_name %>' readonly>
          </div>  
          <% end %>
          
        </div>
        <div class="col-sm-4"> <!--ALIAS-->
          <%if @legal_persona.alias? %>
          <div class="field">
            <label for="name">Alias:</label>      
            <input type = "text" id="alias" class= "form-control" placeholder= "alias" disable value = '<%= @legal_persona.alias %>' readonly>     
          </div>  
          <% end %>       
        </div>
        <div class="col-sm-4"> <!--WEB-->
          <%if @legal_persona.web %>
          <div class ="field">
            <label for="name">Web:</label>      
            <input type = "text" id="web" class= "form-control" placeholder= "web" disable value = '<%= @legal_persona.web %>' readonly>     
          </div>  
          <% end %>
        </div>

        <div class="col-sm-5"> <!--Phones-->
          <% if @legal_persona.phones.any? %>
            <div class="field"> 
            <label for="name">Phones:</label>
              <% @phones.each do |phone| %>
                <div class="row" style="margin-bottom: 6px;">
                  <div class="col">
                    <input type = "text" id="phone_a" class= "form-control" placeholder= "phone_a" disable value = "<%= phone.type_phone%>:  <%= phone.number_phone %>" readonly>
                  </div>  
                <%= link_to 'Editar', edit_legal_persona_phone_path(@legal_persona,@phones.ids) ,class:"btn btn-warning"%>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-7"> <!--Emails-->
          <% if @legal_persona.emails.any? %> 
            <div class="field">
            <label for="name">Emails:</label>
              <% @emails.each do |email| %>
                <div class="row" style="margin-bottom: 6px;">
                  <div class="col">
                    <input type = "text" id="emaila" class= "form-control" placeholder= "emaila" disable value = <%= email.email%> readonly>  
                  </div>
                <%= link_to 'Editar',   edit_legal_persona_email_path(@legal_persona,@emails.ids) ,class:"btn btn-warning"%>  
                </div>
              <% end %>  
            </div> 
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12"><!--Directions-->
          <div class= "field">
            <% if @legal_persona.directions.any? %>
              <div class="field">
                <label for="name">Directions:</label>
                <% @directions.each do |direction| %>
                  <% Realty.order(:id).each do |realties|%>
                    <% if direction.realties_id == realties.id %>
                      <div class="row" style="margin-bottom: 6px;">
                        <div class="col">
                          <input type = "text" id="direction" class= "form-control" placeholder= "directiona" disable value = "<%= realties.address.to_s %>" readonly>                
                        </div>

                        <%= link_to 'Editar',   edit_legal_persona_direction_path(@legal_persona,@directions.ids) ,class:"btn btn-warning"%>  
                     
                       
                      </div>
                    <% end %>
                  <%end%>  
              
                <% end %>
              </div>
            <%end%>  
          </div>
        </div>
        <div class = "container"><!--Activities-->
          <div class = "row">
            <% if @legal_persona.activities.any? %>
              <div class="col-sm-12">
                Actividades:
                <table class="table table-bordered table-hover">
                  <thead  class="thead-dark">
                    <tr>
                      <th scope="col">Nombre de Actividad</th>
                      <th scope="col">Rubro</th>
                      <th scope="col">Afecta IVA?</th>
                      <th scope="col">codigo de actividad</th>
                    </tr>
                  </thead>
                  <tbody class="rounded-pill"> 
                    <% @activities.each do |activity| %>
                    <tr>
                      <td scope="row">
                        <%= activity.name_activity %>
                      </td>
                      <td scope= "row">
                        <%= activity.rubro %>
                      </td>  
                      <td scope="row">
                        <%= activity.afect_iva %>
                      </td>
                      <td scope="row">
                        <%= activity.code %>
                      </td>
                    </tr>  
                    <% end %>
                  </tbody>
                </table>    
              </div>
            <% end %>
          </div>  
        </div>
      </div>
    </div>
    


    <div class= "col-sm-4 card card-body">
    <p style="margin-bottom: 8px">Acciones:</p>
      <div class= "btn-group-vertical">
        <% unless @legal_persona.phones.any? %>
          <div class="col-sm-8">
            <%= link_to 'Nuevo telefono', new_legal_persona_phone_path(@legal_persona) ,class:"btn btn-primary", style:"margin-bottom: 6px"%>
            <% else %>
            <%= link_to 'Nuevo telefono', new_legal_persona_phone_path(@legal_persona) ,class:"btn btn-primary", style:"margin-bottom: 6px"%>
        <% end %>
        <% unless @legal_persona.directions.any? %>
          <%= link_to 'Nueva direccion', new_legal_persona_direction_path(@legal_persona) ,class:"btn btn-primary", style:"margin-bottom: 6px"%>
          <% else %>
          <%= link_to 'Nueva direccion', new_legal_persona_direction_path(@legal_persona) ,class:"btn btn-primary", style:"margin-bottom: 6px"%>
        <% end %>
        <% unless @legal_persona.emails.any? %>

          <%= link_to 'Nuevo Correo', new_legal_persona_email_path(@legal_persona) ,class:"btn btn-primary", style:"margin-bottom: 6px"%>
          <% else %>
          <%= link_to 'Nuevo Correo', new_legal_persona_email_path(@legal_persona) ,class:"btn btn-primary", style:"margin-bottom: 6px"%>
             
        <% end %>
        <% unless @legal_persona.activities.any? %>

          <%= link_to 'Nueva Actividad', new_legal_persona_activity_path(@legal_persona) ,class:"btn btn-primary", style:"margin-bottom: 6px"%>
          <% else %>
          <%= link_to 'Nueva Actividad', new_legal_persona_activity_path(@legal_persona) ,class:"btn btn-primary", style:"margin-bottom: 6px"%>
             
        <% end %>

        <%= link_to "Nuevo representante legal", new_legal_persona_legal_represent_path(@legal_persona), class: "btn btn-primary", style:"margin-bottom: 6px"  %>
        <%=link_to "Nuevo Dominio", new_legal_persona_domain_path(@legal_persona) ,class:"btn btn-primary" , style:"margin-bottom: 6px"%>

      
      </div>
    </div>
  </div>
</div>  
  
    


<div class="container">
  <% if PersonaMember.any? %>
      <div class="row">
        <div class="col-sm-12 card card-body">
          Miembros:
          <table class="table table-bordered table-hover">
            <thead  class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
                <th scope="col">Participación</th>
                <th scope="col">Entrada</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody class="rounded-pill">
              <% PersonaMember.order(:id).each do |personam| %>
                <% if personam.legal_persona_id == @legal_persona.id %>
                  <% if (personam.type_member == "Natural")%>
                    <% Persona.order(:id).each do |member| %>
                      <%if (personam.persona_id == member.id) %>  
                        <tr>
                          <td scope="row"><%= member.rut %>, <%= member.name%></td>
                          <td scope="row"><%= personam.acciones%></td>
                          <td scope="row">
                            <%= personam.percentage%> %    
                          </td>
                          <td scope="row"><%= personam.entrada%></td>
                          <td> 
                            <%= link_to 'ver', member , class: "btn btn-info" %>
                            <% PersonaMember.order(:id).each do |personam| %>
                              <%if (personam.persona_id == member.id) && (personam.type_member == "Natural") && (personam.legal_persona_id == @legal_persona.id) then %>
                                <%= link_to 'editar', edit_persona_member_path(personam) , class: "btn btn-warning" %>
                                <%= link_to 'borrar', personam, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>
                              <%end%>
                            <%end%> 
                          </td>
                        </tr>
                      <%end%> 
                    <%end%>  
                  <% else %>
                    <% LegalPersona.order(:id).each do |legalp| %>
                      <%if (legalp.id == personam.persona_id) %>
                        <tr>
                          <td scope="row"><%= legalp.rut %>, <%= legalp.name%></td>
                          <td scope="row"><%= personam.acciones%></td>
                          <td scope="row">
                            <%= personam.percentage %> %
                          </td> 
                          <td scope="row"><%= personam.entrada%></td>   
                          <td> 
                            <%= link_to 'ver', legalp, class: "btn btn-info" %>
                            <% LegalPersona.order(:id).each do |legalp| %>
                              <%if (legalp.id == personam.persona_id) && (personam.type_member == "Legal") && (personam.legal_persona_id == @legal_persona.id) then %>
                                <%= link_to 'editar', edit_persona_member_path(personam) , class: "btn btn-warning" %>
                                <%= link_to 'borrar', personam, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>
                              <%end%>
                            <%end%> 
                          </td>
                        </tr>
                      <%end%>  
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>      
            </tbody> 
            <% var = 0 %>
            <% PersonaMember.order(:id).each do |personam| %>
              <% if personam.legal_persona_id == @legal_persona.id%>
                <% var += personam.percentage%>
              <% end %>
            <% end %>  
            <thead class= "thead-light">
              <tr>
                <th scope= "col"> 
                  Total
                </th>
              </tr>
            </thead> 
            <tbody class= "rounded-pill">
              <tr>
                <td scope = "row"> <%= var%> % </td>
              </tr>
            </tbody>
          </table>   
            
        </div>
      </div>
     
  <%end%>  
  <% if @legal_persona.domains.any? %>
    <div class="row">
      <div class="col-sm-12 card card-body">
        Dominios de <%= @legalpersona.name %>:
        <table   class="table table-bordered table-hover">
          <thead  class="thead-dark">
            <tr>
              <th scope="col">Notario</th>
              <th scope="col">Modalidad</th>
              <th scope="col">Acciones
              <th scope="col">Precio</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Comprador</th>
              <th scope="col">Fecha de posecion</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody class="rounded-pill">
            <% @creacion = Domain.where(type_modality: "Creacion de empresa", domainable_id: @legal_persona.id) %>
            <tr>
              <% notario = LegalPersona.find(@creacion[0].notario_id) %>
              <td scope= "row"><%= notario.name%> </td>
              <td>Creacion de empresa</td>
              <td>
              <% @creacion.each do |creacion| %>
                <div class= "col">
                  <%= creacion.price %>
                </div>
              <%end%>
              </td>
              <td>
              <% @creacion.each do |creacion| %>
                <div class= "col">
                  <%= creacion.valor %>
                </div>
              <%end%>
              </td>
              <td>
              <% @creacion.each do |creacion| %>
                <% creador = DomainRol.where(type_rol: "Creador", domain_id: creacion.id) %>
                <% if creador[0].type_member == "Legal" %>
                  <% legal = LegalPersona.find(creador[0].persona_id) %>
                  <div class= "col">
                    <%= legal.name %>
                  </div>
                <%else%>
                  <% persona = Persona.find(creador[0].persona_id) %>
                  <div class= "col">
                    <%= persona.name %>
                  </div>    
                <%end%>  
              <%end%>
              </td>
              <td> No figura comprador </td>
              <td><%= @creacion[0].date_posetion %></td>
              <td>
              <% @creacion.each do |creacion| %>
                <div class= "col">
                  <%= creacion.percentage %>
                </div>
              <%end%>
              </td>
              <td>                   
                <%= link_to "ver", listado_creadores_path(@legal_persona), class: "btn btn-info" %>
  
              </td>

            </tr>
            
            
            <% Domain.order(:date_posetion).each do |domain| %>
              <% if domain.domainable_id == @legal_persona.id %>
                <% if domain.type_modality != "Creacion de empresa"%>
                  <tr>
                    <% LegalPersona.order(:id).each do |legalp|%>
                      <% if legalp.id == domain.notario_id %>
                        <td scope="row"><%= legalp.name%></td>
                      <%end%>
                    <%end%>    
                    <td><%= domain.type_modality %></td>
                    <td><%= domain.price %></td>
                    <td><%= domain.valor %></td>
                    <% DomainRol.order(:id).each do |domrol| %>
                      <% if domrol.domain_id == domain.id %>
                        <% if domrol.type_member == "Legal" %>
                          <% @legal = LegalPersona.find(domrol.persona_id) %>
                          <td scope = "row"><%= @legal.name%></td>
                        <% else %>
                          <% @persona = Persona.find(domrol.persona_id) %>
                          <td scope = "row"><%= @persona.name%></td>
                        <%end%>
                      <%end%>
                    <%end%>
                    
                    <% if domain.type_modality == "Compra y Venta de acciones" %>
                                      
                      <% DomainRol.order(:id).each do |domrol| %>
                        <% if domrol.domain_id == domain.id %>
                          <% @compradors = Comprador.where(domain_rol_id: domrol.id) %>
                          <% if @compradors.length != 0 %>
                            <td>
                              <% @compradors.each do |comp| %>
                                <%if comp.type_member == "Legal" %>
                                  <% @legal = LegalPersona.find(comp.persona_id) %>
                                  <div class= "col">
                                  <%= @legal.name %>
                                  </div>
                                <%else%>
                                  <% @persona = Persona.find(comp.persona_id) %>
                                  <div class = "col">
                                  <%= @persona.name %>
                                  </div>  
                                <%end%>
                              <%end%>  
                            </td>
                          <%else%>
                            <td> No figura </td> 
                          <%end%> 
                        <%end%>
                      <%end%>
                    <%else%>
                      <td> No figura comprador</td>
                    <%end%>                                  
                    <td><%= domain.date_posetion %></td>
                    <td><%= domain.percentage %></td>
                    <td>                   
                        <%= link_to "ver", domain, class: "btn btn-info" %>
                        <%= link_to "editar", edit_domain_path(domain), class: "btn btn-warning" %>
                        <%= link_to 'Borrar', domain, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>
                        
                    </td>

                  </tr>
                <%end%>
              <%end%>    
            <%end%>  
          </tbody> 
            <% var = 0 %>
            <% var2 = 0 %>
            <% PersonaMember.order(:id).each do |personam| %>
              <% if personam.legal_persona_id == @legal_persona.id%>
                <% var += personam.percentage %>
                <% var2 += personam.acciones %>
              <% end %>
            <% end %>  
            <thead class= "thead-light">
              <tr>
                <th scope= "col">Acciones</th>
                <th scope= "col">Total</th>
              </tr>
            </thead> 
            <tbody class= "rounded-pill">
              <tr>
                <td scope = "row"> <%= var2%> </td>
                <td scope = "row"> <%= var.round(2)%> % </td>
              </tr>
            </tbody>
        </table>        
      </div>
    </div>
  <% end %>
  <% @historicos = Historico.where(legal_persona_id: @legal_persona.id) %>
  <% if @historicos.any? %>
    <div class="row">
      <div class="col-sm-12 card card-body">
        <h1> Miembros historicos de <%= @legal_persona.name %> </h1>
        <table   class="table table-bordered table-hover">
          <thead  class="thead-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha de Ingreso</th>
              <th scope="col">Fecha de Salida</th>
              <th scope="col">Valor</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody class="rounded-pill">
            <% @historicos.each do |historico| %>
              <tr>
                <% if historico.type_member == "Legal" %>
                  <%legalp = LegalPersona.find(historico.persona_id) %>
                  <td scope ="row"> <%=legalp.name %> </td>
                <%else%>
                  <%persona = Persona.find(historico.persona_id) %>
                  <td scope ="row"> <%= persona.name %> <%= persona.last_name1 %> </td>
                <%end%>
                <td> <%= historico.entrada %> </td>
                <td> <%= historico.salida %> </td>
                <td> <%= historico.valor %> </td>
                <td> <%= historico.acciones %> </td>   
              </tr>
            <%end%>  
          </tbody>
        </table>  
      </div>
    </div>
  <%end%>
</div>
   
