<div class="container">
  <div class="row">
    <div class="col-sm-7 card card-body">
      <div class="field">
        rut: <%= @legal_persona.rut %>
      </div>
      <div class="field">
        Nombre/ Razón social: <%= @legal_persona.name %>
      </div>
      <%if @legal_persona.fantasy_name? %>
      <div class="field">
        Nombre fantasia: <%= @legal_persona.fantasy_name %>
      </div>
      <% end %>
      <% if @legal_persona.phones.any? %>
        <div class="field">
          <% @phones.each do |phone| %>
            <div class="field">
              telefonos:
              <div class="col">
                <%= phone.phone_a %>
              </div>
              <div class="col">
                <%= phone.phone_b %>
              </div>
              <div class="col">
                <%= phone.phone_c %>
              </div>
          </div>
          <% end %>
        </div>
      <% end %>
      <% if @legal_persona.emails.any? %>
        <div class="field">
          <% @emails.each do |email| %>
          <div class="field">
            Correos:
            <div class="col">
            <%= email.email_a %>
            </div>
            <div class="col">
              <%= email.email_b %>
            </div>
            <div class="col">
              <%= email.email_c %>
            </div>
          </div>
          </div>
          <% end %>
        <% end %>
        <% if @legal_persona.directions.any? %>
          <div class="field">
            <% @directions.each do |direction| %>
              <div class="field">
                Direcciones:
                <div class="col">
                  <%= direction.directiona %>
                </div>
                <div class="col">
                  <%= direction.directionb %>
                </div>
                <div class="col">
                  <%= direction.directionc %>
                </div>
              </div>
             <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-5 card card-body">
        Acciones:
        <div class="row-sm-3">
          <% unless @legal_persona.phones.any? %>
            <div class="col-sm-8">
              <%= link_to 'Nuevo telefono', new_legal_persona_phone_path(@legal_persona) ,class:"btn btn-primary"%>
              <% else %>
                <%= link_to 'editar telefono',   edit_legal_persona_phone_path(@legal_persona,@phones.ids) ,class:"btn btn-secondary"%>

          <% end %>
          <% unless @legal_persona.directions.any? %>

              <%= link_to 'Nueva direccion', new_legal_persona_direction_path(@legal_persona) ,class:"btn btn-primary"%>
            <% else %>
            <%= link_to 'editar direccion',   edit_legal_persona_direction_path(@legal_persona,@directions.ids) ,class:"btn btn-secondary"%>

           <% end %>
          <% unless @legal_persona.emails.any? %>

              <%= link_to 'Nuevo Correo', new_legal_persona_email_path(@legal_persona) ,class:"btn btn-primary"%>
           <% else %>
             <%= link_to 'editar correo', edit_legal_persona_email_path(@legal_persona,@emails.ids) ,class:"btn btn-secondary"%>
             </div>
          <% end %>

         </div>
      </div>
    </div>



  </div>



<div class="container">
  <div class="row">
    <div class="col-sm-7 card card-body">
      Miembros:
      <table   class="table table-bordered table-hover">

        <thead  class="thead-dark">
          <tr>

            <th scope="col">Nombre</th>
            <th scope="col">Opciones</th>
            <th scope="col">Participación</th>
          </tr>
        </thead>
        <tbody class="rounded-pill">
          <% @persona_members.each do |member| %>
            <tr>
              <td scope="row"><%= member.rut %>, <%= member.name%></td>
              <td>
                quitar miembro


            <%end%>
              </td>
              <td>% de participacion</td>
            </tr>
        </tbody>
      </table>


    </div>
    <div class="col-sm-5 card card-body">

    </div>

  </div>

</div>
