<div class="container">
<%=  form_with model:  @realty do |form| %>


  <div class="form-group">
    <%= form.label :name_realty, "Nombre de propiedad" %>
    <%= form.text_field :name_realty, id: :name_realty%>
  </div>

  <div class="form-group">
    <%= form.label :street_type_id, "Tipo de Calle" %>
    <%= form.select :street_type_id, options_for_select([["Calle", 0],["Avenida", 1], ["Pasaje", 2], ["Camino", 3]]), {include_blank: "Seleccione"} %>
  </div>

  <div class="form-group">
    <%= form.label :type_property_id, "Tipo de Propiedad" %>
    <%= form.select :type_property_id, options_for_select([["Casa", 0],["Dpto.", 1],["Local", 2], ["Oficina", 3], ["Bodega", 4], ["Sitio", 5], ["Box", 6], ["Parcela", 7]]), {include_blank: "Seleccione"} %>
  </div>
  <p> dirección </p>

  <div class="form-group">
    <%= form.label :street, "Calle" %>
    <%= form.text_field :street, id: :street %>
  </div>

  <div class="form-group">
    <%= form.label :number_unit, "Numero" %>
    <%= form.number_field :number_unit, id: :number_unit %>
  </div>

  <div class="form-group">
    <%= form.label :unit_estate, "Unidad" %>
    <%= form.text_field :unit_estate, id: :unit_estate %>
  </div>

  <div class="form-group">
    <%= form.label :population_villa, "villa/población" %>
    <%= form.text_field :population_villa, id: :population_villa %>
  </div>
  <div class="form-group ">
    <%= form.label :commune_id, "comuna" %>
    <%= form.select :commune_id, options_for_select(Commune.order(:name).collect {|c| [c.name,c.id]}), {include_blank: "Seleccione"}  %>

  </div>


 <%= form.submit "Ingresar" %>

<% end %>
</div>
