
<div class="row justify-content-md-center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Notificacion de Aviso</h5>
      <p class="card-text"><%= @auctionnotice.id%> <br> <%= @auctionnotice.auction %></p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Añadir nueva Propiedad</button>
    </div>
  </div>
</div>
</div>
</div>
</div>


<div class="col">
  <div class="row justify-content-md-center">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ingreso de Propiedad:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">





          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <%= form_with model: Realty.new, remote: true do |f|%>
              <div class="form-group row">
                <div class="col-sm-9 no-right-padding">
                  <%= f.text_field :name_realty, id: :name_realty , placeholder: "Nombre de la propiedad", class:"form-control border" ,autofocus: true%>
                  <%= f.text_field :street, id: :street , class:"form-control border" , placeholder: "calle",autofocus: true%>
                  <%= f.number_field :number_unit, id: :number_unit , class:"form-control border", placeholder: "numero" ,autofocus: true%>
                  <%= f.text_field :unit_estate, id: :unit_estate , class:"form-control border", placeholder: "unidad" ,autofocus: true%>
                </div>
                <div class="col-sm-3 no-left-padding">
                  <%=f.submit do %>
                  <%= fa_icon 'search 2x' %>
                  <% end %>
                </div>
              </div>
            <% end %>




          </div>
        </div>

      </div>
    </div>

  </div>
</div>
