<div class="container-fluid">

  <div class="row">
    Busqueda

  </div>
  <!-- filter between dates -->
  <%= search_form_for @search do |f| %>
  <div class="row mb">
    <div class="col">
      <%= f.text_field :date_gteq,  data:{provide:'datepicker',date_format: "dd-mm-yyyy"}, placeholder: "Desde:",autocomplete: "off"  %>
    </div>
    <div class="col">
      <%= f.text_field :date_lteq,  data:{provide:'datepicker',date_format: "dd-mm-yyyy"}, placeholder:"Hasta:",autocomplete: "off"  %>
    </div>
    <div class="col">
      <%= f.submit "Buscar", class: "btn btn-sm btn-success " %>
    </div>
    <div class="col">
      <%= link_to 'refrescar', auctions_path , class:"button btn-outline-info btn-sm" %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">

      <!-- filter today  and tomorrow -->
      <%= search_form_for @search do |f| %>
        <%= f.hidden_field :date_eq, :value =>  Date.today%>
        <%= f.submit "Hoy", class: "btn btn-sm btn-success"%>
      <% end %>
    </div>
    <div class="col">
      <%= search_form_for @search do |f| %>
        <%= f.hidden_field :date_eq, :value =>  Date.tomorrow%>
        <%= f.submit "Mañana", class: "btn btn-sm btn-success" %>
      <% end %>


    </div>


  </div>
</div>
