<div class="container-fluid">
  <h1>Remates</h1>
  <div class="container-md">
    <li class="list-group-item "><%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %></li>

  <br>
  </div>
</div>

<br>
<%= render "search" %>


<br>

<br>






<div class="table-responsive">
<table id="myTable" class="table">
  <thead>
    <tr >
      <th id="auctionsTable">Nº</th>

      <th id="auctionsTable">Fecha</th>

      <th id="auctionsTable">Tribunal</th>
      <th id="auctionsTable">Rol</th>
      <th id="auctionsTable">Propiedad</th>

      <th id="auctionsTable">Opciones</th>

    </tr>
  </thead>

  <tbody>
    <% @auctions.each_with_index do |auction, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= auction.date %> a las: <%= auction.hour %> hrs.</td>

        <td><%= auction.rol_trial %></td>
        <td><%= auction.realty.address %></td>
        <td>
          <%= link_to 'Ver', auction %>
          <%= link_to 'Editar', edit_auction_path(auction) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
<br>
