<div class="container-fluid">
  <h1>Remates</h1>
  <div class="container-md">
    <li class="list-group-item "><%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %></li>
  <br>
  </div>
</div>

<br>
<%= render "search" %>

<br>
<br>







<table  class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nº</th>

      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>

      <th scope="col">Tribunal</th>
      <th scope="col">Rol</th>
      <th scope="col">Propiedad</th>

      <th scope="col">Opciones</th>

    </tr>
  </thead>

  <tbody>
    <% @auctions.each_with_index do |auction, i| %>
      <tr>
        <td scope="row"><%= i + 1 %></td>
        <td><%= auction.date %> </td>
        <td><%= auction.hour %> hrs.</td>

        <td><%= auction.rol_trial %></td>
        <td><%= auction.realty.address %></td>
        <td>propiedad</td>
        <td>
              <%= link_to 'Ver', auction ,class: "btn btn-info"%>
              <%= link_to 'Editar', edit_auction_path(auction),class: "btn btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>
