<div class="container-fluid">
  <h1>Remates</h1>
  <div class="container-md">
    <li class="list-group-item "><%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %></li>
    <br>
  </div>
</div>

<br>
<%= render "search" %>
<br>
<br>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Fecha</th>
      <th scope="col">Tribunal</th>
      <th scope="col">Rol</th>
      <th scope="col">Nombre Juicio</th>
      <th scope="col">Tipo Juicio</th>
      <th scope="col">Propiedades</th>
      <th scope="col">Minimo</th>
      <th scope="col">Status</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each_with_index do |auction, i| %>
    <tr>
      <td scope="row"><%= i + 1 %></td>
      <td><%= auction.horary %> </td>
      <td>

        <% unless auction.judgement.court.name.nil? %>
        <%= auction.judgement.court.name %>
        <%else %>

        <div class="field">

          no hay tribunal
        </div>
        <% end %>


      </td>
      <td>
        <% unless auction.judgement.rol_trial.nil? %>
        <%= auction.judgement.rol_trial %>
        <%else %>

        <div class="field">

          no hay rol
        </div>
        <% end %>
      </td>


      <td>
        <% unless auction.judgement.name_judgement.nil? %>
        <%= auction.judgement.name_judgement %>
        <%else %>

        <div class="field">

          no hay name juicio
        </div>
        <% end %>
      </td>

      <td><%= auction.judgement.type_judgement %></td>
      <td>

      <% AuctionsRealty.order(:id).each do |auctionsRealty| %>
       <% if(auctionsRealty.auction_id === auction.id) %>
        <% Realty.order(:id).each do |realty| %>
         <% if(realty.id === auctionsRealty.realty_id) %>
           <p><%= realty.address %>, <%= realty.type_realty.tipo %> <%= realty.unit_estate %></p>
         <% end %>
        <% end %> 
        <% end %>
      <% end %>
      </td>
      <td><%= auction.total_minimum %></td>
      <td><%= auction.status %><br><br>
        <%= form_with(model: Auction.find(auction.id), url: update_status_auctions_path(auction.id), local: true, html: { method: :get }) do |form| %>
          <%= form.select :status, options_for_select([["Remate en curso",0],["Anulado",1],["Suspendido",2] ,["Adjudicado",3]],auction.status), {include_blank: "Seleccione"},class:"custom-select mr-sm-2", required: true %>
          <br><br>
          <%= form.submit "Guardar",class: "btn btn-success" %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Ver', auction ,class: "btn btn-info"%>
        <%= link_to 'Editar', edit_auction_path(auction),class: "btn btn-warning" %>
        <%= link_to 'Eliminar',auction, method: :delete, data: { confirm: 'Estas seguro?' } ,remote: true,class: "btn btn-danger" %>

      </td>
    </tr>
    <% end %>
  </tbody>
</table>



<br>