<div class="container-fluid">
  <h1>Remates</h1>
  <div class="container-md">
    <li class="list-group-item "><%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %></li>
  <br>
  </div>
</div>

<br>
<%= render "search" %>

<br>
<br>







<table  class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nº</th>

      <th scope="col">Fecha</th>
      <th scope="col">Tribunal</th>
      <th scope="col">Rol</th>
      <th scope="col">Nombre Juicio</th>
      <th scope="col">Tipo Juicio</th>
      <th scope="col">Propiedad</th>
      <th scope="col">Villa Poblacion </th>
      <th scope="col">Condominio/edificio</th>
      <th scope="col">Minimo</th>
      <th scope="col">Garantia</th>
      <th scope="col">mt2.Construido</th>
      <th scope="col">mt2.Terreno</th>
      <th scope="col">Opciones</th>

    </tr>
  </thead>

  <tbody>
    <% @auctions.each_with_index do |auction, i| %>
      <tr>
        <td scope="row"><%= i + 1 %></td>
        <td><%= auction.horary %> </td>
        <td><%= auction.court.name %></td>
        <td><%= auction.rol_trial %></td>
        <td><%= auction.name_of_the_judgment %></td>
        <td><%= auction.judgements.name %></td>
        <td><%= auction.realty.address %></td>
        <td><%= auction.realty.population_villa %></td>
        <td><%= auction.realty.population_villa %></td>
        <td><%= auction.total_minimum %></td>
        <td><%= auction.warranty %></td>
        <td><%= auction.realty.mt2_built %></td>
        <td><%= auction.realty.mt2_land %></td>
        <td><%= auction.status %></td>


        <td>
          
              <%= link_to 'Ver', auction ,class: "btn btn-info"%>
              <%= link_to 'Editar', edit_auction_path(auction),class: "btn btn-warning" %>
              <%= link_to 'Eliminar',auction, method: :delete, data: { confirm: 'Estas seguro?' } ,class: "btn btn-danger" %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>
