<%= link_to 'Volver Listado Remate', auctions_path %> 
<br>
<br>
<%= link_to 'Volver al Calendario', calendario_path %>

<p></p>

<div class="row" id="fileview">
  <div class="col-principal col-md-6">
    <div>
      <h2>
        Remate nº  <%= @auction.id %> : <%= @auction.realty_id %>
        </h2>
    </div>
    <h4>Informacion del Remate</h4>


      <div>
        Fecha Remate:  <%= @auction.date %>, <%= @auction.hour %>
      </div>
       <div>
         
       </div>
      <div>
         Rol:     <%= @auction.realty_id %>
       </div>

       <div>
          Garantia:   <%= @auction.warranty %>
        </div>

        <div>
           Minimo:     <%= @auction.total_minimum %>
         </div>


    <div>
      <p></p>
    <p>Aviso</p>
    <p></p>
    <%= @auction.auctionnotice.auction %>


    </div>

  </div>

  <div class="col-lateral col-md-6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 card card-body ">
          <div>
            <h2>Dirección: <%= @auction.realty_id %>, <%= @auction.realty_id %></h2>
          </div>
  
          <div style='width: 500px;' >
            <div id="map" style='width: 500px; height: 300px;'></div>
          </div>
          <hr>
          <h1>Información básica:</h1>
  
            <div class="field">
              <h4>Tipo de propiedad </h4>
               <%= @auction.realty_id %>
           </div>
  
  
              <div class="field">
                <h4> Poblacion, Villa , Conjunto:</h4>
                <%= @auction.realty_id %>
              </div>
  
            

              <div class="field">
                <h4>Rol Avaluo</h4>
                 <%= @auction.realty_id %>
              </div>
  
  
               <div class="field">
                 <h4>Latitud</h4>
                  <%= @auction.realty_id %>
               </div>
  
               <div class="field">
                 <h4>Longitud</h4>
                <%= @auction.realty_id %>
              </div>
  
  
              
  
  
  
            
  
          <p></p>
            <div class="field">
              <h4>Destino Sii</h4>
              <%= @auction.realty_id %>
            </div>
  
          <p></p>
        </div>
          
          <h1>Ficha Tasaciones:</h1>
            <div class="field">
             <h4>Tasaciones</h4>
            
            
           
  
            <table   class="table table-bordered table-hover">
              <thead  class="thead-dark">
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Entidad</th>
                  <th scope="col">Valor UF</th>
                  <th scope="col">Valor CLP</th>
                  <th scope="col">Valor USD</th>
                  <th scope="col">Observacion</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
             
              <tbody class="rounded-pill">
               
            
                 
                     
              </tbody>
            </table>
       
        
  
        </div>
        
        
  
   
      </div>
    </div>
  </div>




</div>



