<%= link_to 'Volver Listado Remate', auctions_path %>
<br>
<br>
<p></p>
<div class="row" id="fileview">
  <div class="col-principal col-md-12">
    <div>
      <h2>
        Remate nº <%= @auction.id %> : <%= @auction.realty_id %>
      </h2>
    </div>
    <h4>Informacion del Remate</h4>
    <div>
      Fecha Remate: <%= @auction.date %>, <%= @auction.hour %>
    </div>
    <div>
    </div>
    <div>
      Rol: <%= @auction.realty_id %>
    </div>
    <div>
      Garantia: <%= @auction.warranty %>
    </div>
    <div>
      Minimo: <%= @auction.total_minimum %>
    </div>
    <div>
      <p>Aviso</p>
      <%= @auction.auctionnotice.auction %>
    </div>
    <br>
    <div>
      <h3>Propiedades</h3>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre Propiedad</th>
            <th scope="col">Tipo Propiedad</th>
            <th scope="col">Direccion</th>
            <th scope="col">Departamento/Oficina</th>
            <th scope="col">Poblacion/Villa</th>
            <th scope="col">Condominio</th>
            <th scope="col">Comuna</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody id="bodyData" class="rounded-pill">
          <% AuctionsRealty.order(:id).each do |auctionsRealty| %>
            <% if(auctionsRealty.auction_id === @auction.id) %>
              <% Realty.order(:id).each do |realty| %>
                <% if(realty.id === auctionsRealty.realty_id) %>
                  <tr>
                    <td><%= realty.name_realty %></td>
                    <td><%= realty.type_realty.tipo %></td>
                    <td><%= realty.address %> </td>
                    <td><%= realty.unit_estate %> </td>
                    <td><%= realty.population_villa %> </td>
                    <td>
                      <% if (realty.condominio_id != 0) then %>
                      <% @condominios.each do |condominio| %>
                      <%= condominio.id === realty.condominio_id ? condominio.name : '' %>
                      <% end %>
                      <% else %>
                      <div class="field">
                        no hay Condominio
                      </div>
                      <% end %>
                    </td>
                    <td><%= realty.commune.name %>/<%= realty.commune.province.name%>/<%= realty.commune.province.region.name%>
                    </td>
                    <td>
                      <%= link_to 'Ver', realty , class: "btn btn-info" %>
                      <%= link_to 'Edit', edit_realty_path(realty) , class: "btn btn-warning" %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="col-md-12 card card-body">
      <div>
        <h2>Juicio: <%= @judgement.court.name %> , <%= @judgement.rol_trial %> </h2>
      </div>
      <hr>
      <h1>Información básica:</h1>
      <div class="field">
        <h4> Tribunal:</h4>
        <%= @judgement.court.name %>
      </div>
      <div class="field">
        <h4>Rol</h4>
        <%= @judgement.rol_trial %>
      </div>
      <div class="field">
        <h4>Caratulado</h4>
        <%= @judgement.demandante %> / <%= @judgement.demandado %>
      </div>
      <div class="field">
        <h4>Demandante</h4>
        <%= @judgement.demandante %>
      </div>
      <div class="field">
        <h4>Abogado Demandante</h4>
        <%= @judgement.demandado %>
      </div>
      <div class="field">
        <h4>Demandanto</h4>
      </div>
      <div class="field">
        <h4>Abogado Demandanto</h4>
      </div>
      <div>

      </div>
    </div>

  </div>

  <div class="col-sm-8">
      <%= link_to 'Nueva anotación Judicial', new_judicialfile_path(@judgement) ,class: "btn btn-primary"%>
  <br><br>
    <%if @judgement.judicialfiles.any? %>
    <h3>Anotaciones:</h3>
   
    <div class="field">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Observacion</th>
            <th scope="col">Archivo</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @judgement.judicialfiles.each do |judicialfile| %>
          <tr>
            <td><%= judicialfile.date %></td>
            <td><%= judicialfile.obs%></td>
                <% if judicialfile.file_name != "" && judicialfile.file_name.to_s.split('/')[5]!=nil %>
                  <td>
                      <%= link_to judicialfile.file_name.to_s.split('/')[5], File.join(root_url.to_s,judicialfile.file_name.to_s), target: "_blank"%>
                      <%= link_to 'Descargar', File.join(root_url.to_s,judicialfile.file_name.to_s),download:''%>
                  </td>
                <%else %>
                <td>Sin Archivo</td>
                <% end %>
            <td>
              <%= link_to 'ver', judicialfile , class: "btn btn-info" %>
              <%= link_to 'editar', edit_judicialfile_path(judicialfile) , class: "btn btn-warning" %>
              <%= link_to 'borrar', judicialfile, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>

  </div>
</div>
 
  </div>
</div>