<%= link_to 'Volver Listado Remate', auctions_path %>
<br>
<br>
<p></p>
<div class="row" id="fileview">
  <div class="col-principal col-md-12">
    <div>
      <h2>
        Remate nยบ <%= @auction.id %> : <%= @auction.realty_id %>
      </h2>
    </div>
    <h4>Informacion del Remate</h4>
    <div>
      Fecha Remate: <%= @auction.date %>, <%= @auction.hour %>
    </div>
    <div>
    </div>
    <div>
      Rol: <%= @auction.realty_id %>
    </div>
    <div>
      Garantia: <%= @auction.warranty %>
    </div>
    <div>
      Minimo: <%= @auction.total_minimum %>
    </div>
    <div>
      <p>Aviso</p>
      <%= @auction.auctionnotice.auction %>
    </div>
    <br>
    <div>
      <h3>Propiedades</h3>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre Propiedad</th>
            <th scope="col">Tipo Propiedad</th>
            <th scope="col">Direccion</th>
            <th scope="col">Departamento/Oficina</th>
            <th scope="col">Poblacion/Villa</th>
            <th scope="col">Condominio</th>
            <th scope="col">Comuna</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody id="bodyData" class="rounded-pill">
          <% AuctionsRealty.order(:id).each do |auctionsRealty| %>
            <% if(auctionsRealty.auction_id === @auction.id) %>
              <% Realty.order(:id).each do |realty| %>
                <% if(realty.id === auctionsRealty.realty_id) %>
                  <tr>
                    <td><%= realty.name_realty %></td>
                    <td><%= realty.type_realty.tipo %></td>
                    <td><%= realty.address %> </td>
                    <td><%= realty.unit_estate %> </td>
                    <td><%= realty.population_villa %> </td>
                    <td>
                      <% if (realty.condominio_id != 0) then %>
                      <% @condominios.each do |condominio| %>
                      <%= condominio.id === realty.condominio_id ? condominio.name : '' %>
                      <% end %>
                      <% else %>
                      <div class="field">
                        no hay Condominio
                      </div>
                      <% end %>
                    </td>
                    <td><%= realty.commune.name %>/<%= realty.commune.province.name%>/<%= realty.commune.province.region.name%>
                    </td>
                    <td>
                      <%= link_to 'Ver', realty , class: "btn btn-info" %>
                      <%= link_to 'Edit', edit_realty_path(realty) , class: "btn btn-warning" %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>