<h1>Nuevo Trabajo</h1>
<%= form_with model: @job do |f| %>
  <% if @job.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.text_field :business %>
  </div>
  <div class="field">
    <%= f.text_field :description %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
