<%= form_with model: Bank.new, local: true do |form| %>
  <%= form.label :name, "Ingreso de nuevo Banco" %>


  <div class="form-group col-md-2">
    <%= form.label :name, "Banco" %>
    <%= form.text_field :name, id: :name , class:"form-control border" ,autofocus: true%>
  </div>

  


 <%= form.submit "Guardar" %>

<% end %>
