<%= form_with(model: realty_dueno, local: true) do |form| %>
  <% if realty_dueno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realty_dueno.errors.count, "error") %> prohibited this realty_dueno from being saved:</h2>

      <ul>
      <% realty_dueno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :persona_id %>
    <%= form.number_field :persona_id %>
  </div>

  <div class="field">
    <%= form.label :realty_id %>
    <%= form.number_field :realty_id %>
  </div>

  <div class="field">
    <%= form.label :type_member %>
    <%= form.text_field :type_member %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
