<%= form_with(model: representante_historico, local: true) do |form| %>
  <% if representante_historico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(representante_historico.errors.count, "error") %> prohibited this representante_historico from being saved:</h2>

      <ul>
      <% representante_historico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :persona_id %>
    <%= form.number_field :persona_id %>
  </div>

  <div class="field">
    <%= form.label :entrada %>
    <%= form.date_select :entrada %>
  </div>

  <div class="field">
    <%= form.label :salida %>
    <%= form.date_select :salida %>
  </div>

  <div class="field">
    <%= form.label :legal_persona_id %>
    <%= form.number_field :legal_persona_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
