<br>
<%= link_to 'Nuevo Tribunal', new_court_path ,class: "btn btn-primary"%>
<br>
<br>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seleccionar Tribunal</th>
      <th scope="col">Rut</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Nº Cuenta</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @courts.each do |court| %>
    <tr>
      <td><%= court.name %></td>
      <td><%= court.rut %></td>
      <td><%= court.address %></td>
      <td><%= court.phone %></td>
      <td><%= court.account %></td>
      <td> <%= link_to 'ver', court , class:"btn btn-info" %>
        <% if can? :access, :admin_users, :lawyers %>
        <%= link_to 'editar', edit_court_path(court), class: "btn btn-warning" %>
        <%= link_to 'eliminar', court, method: :delete, data: { confirm: 'Esta seguro?' } , class:"btn btn-danger", remote: true %>
        <%end%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@courts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,previous_label: "Anterior", next_label: "Siguiente", class: 'pagination justify-content-center') %>
<br>