 <br>
<div class="row" id="fileview">
  <div class="col-principal col-md-8">
    <div class="field">
      rut:
      <%= @court.rut %>
  
    </div>
    <div class="field">
      name:
      <%= @court.name %>
    </div>
    <div class="field">
      address:
      <%= @court.address %>
    </div>
    <div class="field">
     phone:
      <%= @court.phone %>
    </div>

       <div class="field">
      account:
      <%= @court.account %>
    </div>
    </div>
</div>