<script>
  $(document).ready(function () {
    $('select#document_realty_id').select2({
      theme: "bootstrap"
    });
  });
</script>
<div class="row justify-content-md-center">
  <div class="card">
    <div class="card-body">
      <%= form_with model: @document, local: true do |form| %>
      <%= form.label :name, "Ingreso de nueva documentación" %>
      <div class="form-group">
        <%= form.label :realty_id, "Propiedad" %>
        <% if params['format']%>
            <%= form.label @document.realty.address, class: "form-control"%>
            <%= form.hidden_field :realty_id, value: @document.realty_id %>
         <% else %>
            <%= form.select :realty_id, options_for_select(Realty.all.collect {|p| [p.name_realty, p.id]},@document.realty_id), { include_blank: "Seleccione"}, class:"form-control border" , required: true%>
         <% end %>
      </div>
      <div class="form-group">
        <%= form.label :domain_title, "Título de dominio" %>
        <div class="custom-file">
          <%= form.file_field :domain_title, id: :domain_title ,class:"custom-file-input",autofocus: true %>
          <label class="custom-file-label" for="customFile"><%= @document.domain_title.to_s.split('/')[5]%></label>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :gp, "GP" %>
        <div class="custom-file">
          <%= form.file_field :gp, id: :gp ,class:"custom-file-input",autofocus: true %>
          <label class="custom-file-label" for="customFile"><%= @document.gp.to_s.split('/')[5]%></label>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :tax_appraisal, "Avalúo fiscal" %>
        <div class="custom-file">
          <%= form.file_field :tax_appraisal, id: :tax_appraisal ,class:"custom-file-input",autofocus: true %>
          <label class="custom-file-label" for="customFile"><%= @document.tax_appraisal.to_s.split('/')[5]%></label>
        </div>
      </div>
      <br>
      <%= form.submit "Guardar",class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>