<br>
<div class="container-fluid" id="wrapper" >
<%= form_for  @domain do |form| %>


  <div class="field">
    <%= form.label :type_modality, "Modalidad:" %>
    <%= form.text_field :type_modality%>

  </div>


  <div class="field">
    <%= form.label :price, "Precio:" %>
    <%= form.text_field :price %>
  </div>


  <div class="field">
    <%= form.label :date_posetion, "Fecha de posesion:" %>
    <%= form.text_field :date_posetion,  data:{provide:'datepicker',date_format: "dd-mm-yyyy"},autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= form.label :percentage, "Porcentaje" %>
    <%= form.text_field :percentage %>
  </div>

  




 <%= form.submit "Guardar" %>

<% end %>
</div>
