
<div class="container-fluid" id="wrapper" >
<%= form_for [@domainable, @domain] do |form| %>
<% if @domain.errors.any? %>
  <div class="error_messages">
    <h2>Please correct the following errors.</h2>
    <ul>
    <% @domain.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="form-group">
    <div class= "card text-center bg-ligth mb-6">
      <div class= "card-header">
        <h1> Editar Dominio </h1>
      </div>
      <div class= "card-body">
        <p class= "card-text">
          <div class="form-row">
            <div class= "col">
              <%= form.label :type_modality, "Modalidad:" %>
              <%= form.text_field :type_modality, class: "form-control"%>
            </div>

            <div class= "col">
              <%= form.label :price, "Precio:" %>
              <%= form.text_field :price, class: "form-control" %>
            </div>
          </div>
          <div class="form-row">
            <div class= "col">
              <%= form.label :date_posetion, "Fecha de posesion:" %>
              <%= form.text_field :date_posetion,  data:{provide:'datepicker',date_format: "dd-mm-yyyy"},autocomplete: "off", class: "form-control"  %>
            </div>

            <div class= "col">
              <%= form.label :percentage, "Porcentaje" %>
              <%= form.text_field :percentage, class: "form-control" %>
            </div>
          </div>
        </p>    
        <div class="form-row">
          <div class="form-group">
            <%= form.submit "Guardar", class: "btn btn-primary btn-lg btn-block" %>
          </div>
        </div>
      </div>
    </div>  
  </div>

<% end %>
</div>
