<h1>Todos los avisos</h1>




<br>



<div class="table-responsive">
<table id="myTable" class="table">
  <thead>
    <tr>
      <th id = "actionNoticeTable">Nº</th>
      <th id = "actionNoticeTable">Aviso</th>
      <th id = "actionNoticeTable">Estado</th>
      <th id = "actionNoticeTable">Opciones</th>

    </tr>
  </thead>



  <tbody>
<%= form_tag discontinue_auctionnotices_path, method: :put do %>
    <% @auctionnotices.each_with_index do |auctionnotice, i| %>

      <tr>
        <td><%=check_box_tag "auctionnotice_ids[]",auctionnotice.id %></td>
        <td><%= auctionnotice.auction %></td>
        <td><%= auctionnotice.status %></td>

        <td>
          <%= link_to 'Ver', auctionnotice %>
          <%= link_to 'Editar', edit_auctionnotice_path(auctionnotice) %>
          <%= link_to 'Descartar', rejection_path(auctionnotice), method: :post %>
          <%= link_to 'Seleccionar', action_selection_path(auctionnotice), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "seleccionados" ,class:"button"%>
<% end %>

<br>
</div>

<%= link_to 'nuevo aviso', new_auctionnotice_path ,class:"button"%>
