<br>

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Ir a:
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <li class="list-group-item "><%= link_to 'Listado Avisos Pendientes', auctionnotices_pending_path %></li>
    <li class="list-group-item "><%= link_to 'Ir a Listado Avisos', auctionnotices_path %></li>
    <li class="list-group-item "><%= link_to 'Ir a Propiedades', realties_path %></li>
    <li class="list-group-item "><%= link_to 'Ir a Avisos Ingresado a Propiedad', auctions_path %></li>

  </div>
</div>








<h1>  Avisos Seleccionados </h1>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Avisos Seleccionados</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @auctionnotices.each_with_index do |auctionnotice, i| %>

      <tr>
        <td scope="row"><%= i + 1 %></td>
        <td><%= auctionnotice.auction %></td>

        <td>
          <%= link_to "Ver", auctionnotice, class:"fa fa-search" %>
          <%= link_to 'Editar', edit_auctionnotice_path(auctionnotice) %>
          <%= link_to 'Descartar', rejection_path(auctionnotice), method: :post, class:"fa fa-trash" %>

           <%= link_to 'Asociar a Propiedad', new_auctionnotice_auction_path(auctionnotice) %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Listado De Avisos Pendientes ', auctionnotices_pending_path %>
