<script>
$(document).ready(function() {
  $('select#auctionrecord_auction_id').select2({
    theme: "bootstrap"
  });
});
</script>
<br>
<div class="container-fluid ">
  <div class="card card-body row col-md-4">
    <div class="col-md-auto">
      <%= form_with model: @auctionrecord do |form| %>
      <%= form.label :type_judgement, "Nueva Acta Remate" %>
      <div class="field">
        <%= form.label :auction_id, "Seleccionar Remate" %>
        <%= form.select :auction_id, options_for_select(Auction.all.collect {|p| [p.name, p.id]},@auctionrecord.auction_id), { include_blank: "Seleccione"}, class:"form-control border", required: true %>
      </div>
      <div class="form-group">
        <%= form.label :date, "Fecha" %>
        <%= form.text_field :date,  data:{provide:'datepicker',date_format: "dd-mm-yyyy"},autocomplete: "off",class:"form-control border" , required: true %>
      </div>

      // que solo muestre las propiedades del Juicio.

      // que solo muestre las personas del juicio y/o dueño de la propiedad (aval) de la parte que se remata (si son
      derechos)

      <div class="field">
        <%= form.label :awardamount, "Monto Adjudicacion:" %>
        <%= form.number_field :awardamount, id: :awardamount ,autofocus: true, class:"form-control border", required: true %>
      </div>
      <div class="form-group">
        <div class="custom-file">
          <%= form.file_field :file_name, id: :file_name ,class:"custom-file-input",autofocus: true, required: true %>
          <label class="custom-file-label" for="customFile">Ingresar archivo</label>
        </div>
      </div>
      <div class="field">
        <%= form.label :status, "Seleccionar estado" %>
        <%= form.select :status, options_for_select([["confirmada", 0],["suspendida", 1], ["cancelada", 2]],@auctionrecord.status), {include_blank: "Seleccione"} ,class:"custom-select mr-sm-2", required: true %>
      </div>
      <br>
      <%= form.submit "Guardar",class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>