<%= link_to 'Volver Listado Juicios', judgements_path %>

<p></p>



<br>
<h1>Acta Remate:</h1>




<div class="main container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 card card-body ">
        <div>
          <h2>Expediente: <%= @auctionrecord.judgement.court.name %> , <%= @auctionrecord.judgement.rol_trial %> </h2>
        </div>

        <div style='width: 800px;' >
          <div id="map" style='width: 700px; height: 300px;'></div>
        </div>
        <hr>
        <h1>Acta Remate:</h1>
            <div class="field">
              <h4> Tribunal:</h4>
              <%= @auctionrecord.judgement.court.name %>
            </div>

            <div class="field">
              <h4>Rol</h4>
              <%= @auctionrecord.judgement.rol_trial %>
            </div>


          <div class="field">
            <h4>Caratulado</h4>
            <%= @auctionrecord.judgement.demandante %> / <%= @auctionrecord.judgement.demandado %>
          </div>

         //agregar los Demandantes y demandados y los abogados 


      <div>
        Fecha:  <%= @auctionrecord.date %>
      </div>
        // Muestre las propiedades rematadas
      <div>
         <%= @auctionrecord.realty.name_realty %>
        </div>

        <div>
          $Adjudicacion:  <%= @auctionrecord.awardamount %>
        </div>


      </div>
      <br>
      <div class="col-md-4 card dard-body">

      </div>

    </div>
  </div>
</div>




