<br>
<h1>Calendario de Garantias</h1>

<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= l(@date, format:"%B, %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @auctions_by_date[date] %>
        <% @auctions_by_date[date].each do |auction| %>
          <div class="alert alert-success" role="alert">
            <%= link_to "#{auction.warranty_date} #{auction.warranty_time} #{auction.judgement.full_name_judgement}", auction %>
          </div>
        <% end %>
    <% end %>
  <% end %>
</div>
