<button type="button" class="btn btn-success openBtn" data-toggle="modal" data-target="#exampleModal" >Añadir Comprador</button>
<%= form_with model: @persona_member, id: :formulary, remote: true do |form| %>
<div class="col">
    <div class="row justify-content-md-center">
        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ingreso de Comprador:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class= "card-body">
                        <p class= "card-text">
                            <div class="form-row">
                                <div class = "col">
                                    <%= form.label "persona jurídica" %>
                                    <%= form.text_field :legal_persona_id, value: @legal_persona.name, class: 'form-control', readonly: true %>
                                    <%= form.hidden_field :legal_persona_id, value: @legal_persona.id %>
                                </div>
                            </div>
                            <% if params[:domain_rol_id] %>
                                <div class= "form-row">
                                    <div class = "col">
                                        <% @domain_rol = DomainRol.find(params[:domain_rol_id]) %>
                                        
                                        <%= form.label "Tipo" %>
                                        <%= form.select :type_member, options_for_select([["Natural", "Natural"], ["Legal", "Legal"]], @domain_rol.type_member),{include_blank: "Seleccione"} ,class:"custom-select mr-sm-2", onchange: "get_value(this)" %>  
                                    </div>
                                    <div class = "col">
                                        <% @domain_rol = DomainRol.find(params[:domain_rol_id]) %>
                                        <% if @domain_rol.type_member == "Legal" %>
                                            <% @legal = LegalPersona.find(@domain_rol.persona_id) %>
                                            <%= form.label "Miembro" %>
                                            <%= form.select :persona_id , options_for_select(LegalPersona.order(:id).collect{|c|[c.name, c.id]}, @legal.id), {include_blank: "Seleccione"} ,class:"custom-select mr-sm-2"%>
                                        <%else%>
                                            <% @persona = Persona.find(@domain_rol.persona_id) %>
                                            <%= form.label "Miembro" %>
                                            <%= form.select :persona_id , options_for_select(Persona.order(:id).collect{|c|[c.name, c.id]}, @persona.id), {include_blank: "Seleccione"} ,class:"custom-select mr-sm-2"%> 
                                        <%end%>       
                                    </div>
                                </div>
                                <div class= "form-row">    
                                    <div class = "col">
                                        <% @domain_rol = DomainRol.find(params[:domain_rol_id]) %>
                                        <% @dom = Domain.find(@domain_rol.domain_id) %>
                                        <%= form.label "Acciones que maneja" %>
                                        <%= form.number_field :acciones, class: "form-control", onclick: "percentage(this)", value: @dom.price %>
                                    </div>
                                    <div class = "col">
                                        <%= form.label "porcentaje de participacion" %>
                                        <%= form.number_field :percentage, class: "form-control", step: :any ,readonly: true %>
                                    </div>
                                </div>
                                <% @domain_rol = DomainRol.find(params[:domain_rol_id]) %>
                                <% @dom = Domain.find(@domain_rol.domain_id) %>
                                <%= form.hidden_field :entrada, value: @dom.date_posetion%>
                            <%else%>
                                <% domrol = DomainRol.find_by(domain_id: params[:id]) %>
                                <div class= "form-row">
                                    <div class = "col">
                                        <% @comprador = Comprador.find(params[:comprador_id]) %>
                                        
                                        <%= form.label "Tipo" %>
                                        <%= form.select :type_member, options_for_select([["Natural", "Natural"], ["Legal", "Legal"]], @comprador.type_member),{include_blank: "Seleccione"} ,class:"custom-select mr-sm-2", onchange: "get_value(this)" %>  
                                    </div>
                                    <div class = "col">
                                        <% @comprador = Comprador.find(params[:comprador_id]) %>
                                        <% if @comprador.type_member == "Legal" %>
                                            <% @legal = LegalPersona.find(@comprador.persona_id) %>
                                            <%= form.label "Miembro" %>
                                            <%= form.select :persona_id , options_for_select(LegalPersona.order(:id).collect{|c|[c.name, c.id]}, @legal.id), {include_blank: "Seleccione"} ,class:"custom-select mr-sm-2"%>
                                        <%else%>
                                            <% @persona = Persona.find(@comprador.persona_id) %>
                                            <%= form.label "Miembro" %>
                                            <%= form.select :persona_id , options_for_select(Persona.order(:id).collect{|c|[c.name, c.id]}, @persona.id), {include_blank: "Seleccione"} ,class:"custom-select mr-sm-2"%> 
                                        <%end%>       
                                    </div>
                                </div>
                                <div class= "form-row">    
                                    <div class = "col">
                                        <% @comprador = Comprador.find(params[:comprador_id]) %>
                                        
                                        <%= form.label "Acciones que maneja" %>
                                        <%= form.number_field :acciones, class: "form-control", onclick: "percentage(this)", value: @comprador.acciones %>
                                    </div>
                                    <div class = "col">
                                        <%= form.label "porcentaje de participacion" %>
                                        <%= form.number_field :percentage, class: "form-control", step: :any ,readonly: true %>
                                    </div>
                                </div>
                                <% @comprador = Comprador.find(params[:comprador_id]) %>
                                <% @domain_rol = DomainRol.find(@comprador.domain_rol_id) %>
                                <% @dom = Domain.find(@domain_rol.domain_id) %>
                                <%= form.hidden_field :entrada, value: @dom.date_posetion%>
                            <%end%>        
                        </p>
                        <div class="form-row">
                            <div class = "col">
                                <%=  form.submit "Guardar miembro", class: "btn btn-primary"%>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<%end%>