<br>
<div class="container-fluid" id="wrapper" >
<%= form_for  @persona do |form| %>
  <%= form.label :name, "Ingreso de nueva Persona" %>

  <div class="field">
    <%= form.label :rut, "Rut" %>
    <%= form.text_field :rut %>
  </div>


  <div class="field">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, id: :name %>
  </div>


  <div class="field">
    <%= form.label :name2, "Segundo Nombre" %>
    <%= form.text_field :name2, id: :name2 %>
  </div>

  <div class="field">
    <%= form.label :last_name1, "Apellido" %>
    <%= form.text_field :last_name1, id: :last_name1 %>
  </div>

  <div class="field">
    <%= form.label :last_name2, "Segundo Apellido" %>
    <%= form.text_field :last_name2, id: :last_name2 %>
  </div>


  <div class="field">
    <%= form.label :e_civil, "Estado Civil" %>
    <%= form.select :e_civil, options_for_select(["Soltero","Casado con Separacion","Casado Sociedad Conyugal" ,"Divorciado", "Viudo", "Conviviente"]), {include_blank: "Seleccione"} %>
  </div>


  <div class="field">
    <%= form.label :profesion %>
    <%= form.text_field :profesion, id: :profesion %>
  </div>


  <div class="field">
    <%= form.label :nacionality %>
    <%= form.text_field :nacionality, id: :nacionality %>
  </div>
  <div class="field" >
    <%= form.label :birth_date, "Fecha de Naciomiento" %>
    <%= form.text_field :birth_date ,id: :date, data:{provide:'datepicker',date_format: "dd-mm-yyyy"} %>
  </div>


  <div class="field">
    <%= form.label :passport %>
    <%= form.text_field :passport, id: :passport %>
  </div>




 <%= form.submit "Guardar" %>

<% end %>
</div>
