<h1>Personas#index</h1>
<p>Find me in app/views/personas/index.html.erb</p>


<br>
<%= link_to 'Nueva Persona', personas_new_path ,class: "btn btn-primary"%>
<br>
<table id="myTable" class="table">

  <thead>
    <tr>
      <th>Seleccionar Persona</th>
      <th>Rut</th>
      <th>Nombre1</th>
      <th>Nombre2</th>
      <th>Apellido1</th>
      <th>Apellido2</th>
      <th>Estado civil</th>
      <th>Profesion</th>
      <th>Actividad</th>
      <th>Nacionalidad</th>
      <th>Pasaporte</th>
      
    </tr>
  </thead>




  <tbody>
    <% @personas.each do |people| %>

      <tr>
        <td><%= people.rut %></td>
        <td><%= people.name %></td>
        <td><%= people.name2 %></td>
        <td><%= people.last_name1 %></td>
        <td><%= people.last_name2 %></td>
        <td><%= people.e_civil %></td>
        <td><%= people.profesion %></td>
        <td><%= people.birth_date %></td>
        <td><%= people.nacionality %></td>
        <td><%= people.passport %></td>



        <td> <%= link_to 'Ver', personas_path %>



        <%end%>
</td>


      </tr>

  </tbody>
</table>


<br>
