<h1>Personas#index</h1>
<p>Find me in app/views/personas/index.html.erb</p>


<br>
<%= link_to 'Nueva Persona', new_persona_path ,class: "btn btn-primary"%>
<br>
<table id="myTable" class="table">

  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Segundo Nombre</th>
      <th>Apellido1</th>
      <th>Apellido2</th>
      <th>Estado civil</th>
      <th>Profesion</th>
      <th>Fecha de Nacimiento</th>
      <th>Nacionalidad</th>
      <th>Pasaporte</th>
      <th>Opciones</th>

    </tr>
  </thead>




  <tbody>
    <% @personas.each do |persona| %>

      <tr>
        <td><%= persona.rut %></td>
        <td><%= persona.name %></td>
        <td><%= persona.name2 %></td>
        <td><%= persona.last_name1 %></td>
        <td><%= persona.last_name2 %></td>
        <td><%= persona.e_civil %></td>
        <td><%= persona.profesion %></td>
        <td><%= persona.birth_date %></td>
        <td><%= persona.nacionality %></td>
        <td><%= persona.passport %></td>
        <td> <%= link_to 'Ver', persona %>
            ,<%= link_to 'Eliminar', persona, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%end%></td>


      </tr>

  </tbody>
</table>


<br>
