<h1>Lista archivos de remate</h1>
<br>
<%= link_to 'Agregar nuevo listado', new_auctionlisting_path ,class: "btn btn-primary"%>
<br>
<br>
<li class="list-group-item "><%= link_to 'Ir a Listado Avisos', auctionnotices_path %></li>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Adjunto</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @auctionlistings.each do |auctionlisting| %>
    <tr>
      <td scope="row"><%= auctionlisting.name %></td>
      <td><%= auctionlisting.attached %></td>
      <td>
        <%= link_to 'Ver', auctionlisting, class:"btn btn-info"%>
        <%= link_to 'Editar', edit_auctionlisting_path(auctionlisting) , class:"btn btn-warning"%>
        <%= link_to 'Descartar', auctionlisting, method: :delete, data: { confirm: 'Seguro de descartarlo?' }, class:"btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>