
<div class="container">


<%= form_for [@activityable, @activity] do |f| %>
  <% if @activity.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class= "card text-center bg-ligth mb-3">
      <div class= "card-header">
        <h1>Nueva actividad</h1>
      </div>
      <div class= "card-body">
        <p class= "card-text">
          <div class="form-row">
            <div class= "col">
              <%= f.label :code, "Codigo" %>
              <%= f.text_field :code , class: "form-control"%>
            </div>

            <div class= "col">
              <%= f.label :rubro, "Rubro" %>
              <%= f.text_field :rubro , class: "form-control"%>
            </div>
          </div>
          <div class="form-row">
            <div class= "col">
              <%= f.label :name_activity, "Nombre de Actividad" %>
              <%= f.text_field :name_activity , class: "form-control"%>
            </div>

            <div class= "col">
              <%= f.label :afect_iva, "Afecta IVA?" %>
              <%= f.radio_button :afect_iva, 'Si' %> 
              <%= label :afect_iva_Si, 'Si' %>
              <%= f.radio_button :afect_iva, 'No' %>
              <%= label :afect_iva_No, 'No' %>
            </div>
          </div>
        </p>    
        <div class="form-row">
          <div class="form-group">
            <%= f.submit "Guardar", class: "btn btn-primary btn-lg btn-block" %>
          </div>
        </div>
      </div>
    </div>  
  </div>

<% end %>
</div>