<p id="notice"><%= notice %></p>

<h1>Realty Inscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Foja</th>
      <th>Number</th>
      <th>Year</th>
      <th>Cbrs</th>
      <th>Date</th>
      <th>Realty domains</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realty_inscriptions.each do |realty_inscription| %>
      <tr>
        <td><%= realty_inscription.foja %></td>
        <td><%= realty_inscription.number %></td>
        <td><%= realty_inscription.year %></td>
        <td><%= realty_inscription.cbrs %></td>
        <td><%= realty_inscription.date %></td>
        <td><%= realty_inscription.realty_domains %></td>
        <td><%= link_to 'Show', realty_inscription %></td>
        <td><%= link_to 'Edit', edit_realty_inscription_path(realty_inscription) %></td>
        <td><%= link_to 'Destroy', realty_inscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realty Inscription', new_realty_inscription_path %>
