<%= form_with model: @region, local: true do |form| %>
  <%= form.label :name, "Ingreso de nueva Region" %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :name %>
  </div>

  <div class="field">
    <%= form.label :number_region %>
    <%= form.number_field :number_region, id: :number_region %>
  </div>

  <%= form.fields_for :provinces do |s| %>
    <%= s.label :name %>
    <%= s.number_field :name %>
    <%= s.fields_for :communes do |e| %>
      <%= e.label :name %>
      <%= e.text_field :name %>
    <% end %>
    <% end %>






 <%= form.submit "Guardar" %>

<% end %>
