<%= link_to 'Ir a Provincia', provinces_path, class: 'btn btn-primary' %>
<%= flash[:notice] %>
<%= link_to 'Nueva Region', new_region_path, class: 'btn btn-primary' %>
<br>
<br>
<table id="myTable" class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Seleccionar Region</th>
      <th>Nº Region</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
    <tr>
      <td><%= region.name %></td>
      <td><%= region.number_region %></td>
      <td>
        <%= link_to 'ver', region , class: "btn btn-info" %>
        <%= link_to 'editar', edit_region_path(region) , class: "btn btn-warning" %>
        <%= link_to 'borrar', region, method: :delete, data: { confirm: 'Esta seguro?' } ,class: "btn btn-danger"%>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@region, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,previous_label: "Anterior", next_label: "Siguiente", class: 'pagination justify-content-center') %>