<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ff850b;">
  <% if current_user %>
    <%=link_to "ALTITUD LTDA:::", dashboard_index_path,class:"navbar-brand" %>
  <% else %>
    <%=link_to "ALTITUD LTDA:::", root_path,class:"navbar-brand" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <%if current_user %>
      <li class="nav-item ">
        <%=link_to "remate", auctions_path,class:"nav-link" %> <span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <%=link_to "Propiedades", realties_path,class:"nav-link" %>
      </li>

      <li class="nav-item">
        <%=link_to "Configuracion", admin_dashboard_path,class:"nav-link" %>
      </li>
      <%end%>
    </ul>


    <div class="navbar-nav ">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if user_signed_in? %>
            hola, <%= current_user.email %>
          <% else %>
          ingresar a cta
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <a class="dropdown-item" href="<%= destroy_user_session_path %> " data-method="DELETE">Salir</a>
          <% else %>
            <a class="dropdown-item" href="<%= new_user_session_path %> ">Ingreso</a>
            <a class="dropdown-item" href="<%= new_user_registration_path %> ">Registro</a>
          <% end %>
        <div class="dropdown-divider"></div>
        </div>

    </li>
    </div>
  </div>
</nav>
