<p id="notice"><%= notice %></p>

<p>
  <strong>Persona:</strong>
  <%= @realty_dueno_historico.persona_id %>
</p>

<p>
  <strong>Realty:</strong>
  <%= @realty_dueno_historico.realty_id %>
</p>

<p>
  <strong>Type member:</strong>
  <%= @realty_dueno_historico.type_member %>
</p>

<p>
  <strong>Salida:</strong>
  <%= @realty_dueno_historico.salida %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @realty_dueno_historico.entrada %>
</p>

<%= link_to 'Edit', edit_realty_dueno_historico_path(@realty_dueno_historico) %> |
<%= link_to 'Back', realty_dueno_historicos_path %>
